// Settings : FONTS

@font-face
	font-family 'Montserrat'
	src url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')
	font-style normal

$montserrat ?= 'Montserrat', arial, sans-serif
$thin ?= 400
$regular ?= 500
$semibold ?= 600
$bold ?= 700

// Sizes
$font-size-primary ?= 13px
$font-size-mobile-primary ?= 14px

// Buttons
$font-size-btn ?= 13px

// Titles
$font-size-title1 ?= 24px
$font-size-title2 ?= 21px
$font-size-title3 ?= 20px
$font-size-title4 ?= 18px
$font-size-title5 ?= 15px
$font-size-small-title ?= $font-size-primary

// Small & big Texts
$font-size-tiny ?= 11px
$font-size-small ?= 12px
$font-size-mid ?= 13px
$font-size-big ?= 26px

// Icons
$font-icn-size6 ?= 38px
$font-icn-size5 ?= 35px
$font-icn-size4 ?= 28px
$font-icn-size3 ?= 22px
$font-icn-size2 ?= 18px
$font-icn-size1 ?= 16px

// Footer
$font-size-footer ?= $font-size-mid
$font-footer-icn ?= $font-icn-size2
