@font-face {
  font-family: 'Montserrat';
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
  font-style: normal;
}
.float-container {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.dFlex {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .dFlex {
    display: flex;
    flex-flow: row;
    width: auto;
  }
}
.sameHeightChild,
.listingBlock-ctnr {
  display: flex;
}
.sameHeightChild > *,
.listingBlock-ctnr > * {
  align-self: stretch;
}
@media screen and (min-width: 420px) {
  .sameHeightChild > *,
  .listingBlock-ctnr > * {
    align-self: initial;
  }
}
.eachSideItem,
.form-field.oneLineField,
.navmenu.eachSideItem {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.eachSideItem.alignToTop,
.form-field.oneLineField.alignToTop,
.navmenu.eachSideItem.alignToTop {
  align-items: start;
}
.eachSideItem .btn,
.form-field.oneLineField .btn,
.navmenu.eachSideItem .btn {
  white-space: nowrap;
  font-size: 14px;
}
.eachSideItem.mobileAlignLeft,
.form-field.oneLineField.mobileAlignLeft,
.navmenu.eachSideItem.mobileAlignLeft {
  justify-content: left;
}
.eachSideItem.mobileFullWidth,
.form-field.oneLineField.mobileFullWidth,
.navmenu.eachSideItem.mobileFullWidth {
  display: block;
}
.eachSideItem.mobileFullWidth > *,
.form-field.oneLineField.mobileFullWidth > *,
.navmenu.eachSideItem.mobileFullWidth > * {
  margin-top: 1rem;
  flex-wrap: nowrap;
}
.eachSideItem.mobileFullWidth > *:first-child,
.form-field.oneLineField.mobileFullWidth > *:first-child,
.navmenu.eachSideItem.mobileFullWidth > *:first-child {
  margin: 0rem;
}
@media screen and (min-width: 768px) {
  .eachSideItem.mobileAlignLeft,
  .form-field.oneLineField.mobileAlignLeft,
  .navmenu.eachSideItem.mobileAlignLeft {
    justify-content: space-between;
  }
  .eachSideItem.mobileFullWidth,
  .form-field.oneLineField.mobileFullWidth,
  .navmenu.eachSideItem.mobileFullWidth {
    display: flex;
  }
}
.vAlign {
  align-items: center;
  vertical-align: middle;
}
.hAlign {
  justify-items: center;
  text-align: center;
}
.vAlignToStart {
  align-items: start;
  vertical-align: top;
}
.alignToLeft {
  display: flex;
  justify-content: start;
  text-align: left;
}
.alignToRight {
  display: flex;
  justify-content: end;
  text-align: right;
}
.centeredBlock {
  width: 100%;
  max-width: 80%;
}
.notice {
  padding: 0rem;
  margin: 0rem;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 0.5rem;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 2s ease;
}
.notice.visible {
  opacity: 1;
  padding: 1rem;
  width: 100%;
  height: auto;
  transition: opacity 2s ease;
}
.notice-error {
  border: 1px solid #e73c65;
  color: #e73c65;
  background: rgba(231,60,101,0.1);
}
.notice-success {
  border: 1px solid #259e41;
  color: #259e41;
  background: rgba(37,158,65,0.1);
}
.notice-warning {
  border: 1px solid #ffa826;
  color: #ffa826;
  background: rgba(255,168,38,0.1);
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  outline-offset: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.framed {
  padding: 1rem;
  box-shadow: 0 1px 7px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
}
.framed-desktop:not(:first-child) {
  padding-top: 1.5rem;
  border-top: 1px solid #dcdfe2;
}
@media screen and (min-width: 768px) {
  .framed-desktop:not(:first-child) {
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .framed-desktop {
    padding: 1.5rem;
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
  }
}
.thinCtnr {
  margin: 0rem auto;
  max-width: 30rem;
}
.coloredCtnr {
  padding: 1.5rem;
  background: #f4f6f9;
}
.coloredCtnr.rounded {
  border-radius: 0.5rem;
}
.hideElem {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}
.inactivItem {
  cursor: default;
  transform: inherit;
  color: #808080;
  opacity: 0.6;
  pointer-events: none;
}
.inactivItem:hover {
  cursor: default;
}
.inactivItem .btn {
  color: #808080;
}
.inactivItem .btn:hover {
  cursor: default;
  transform: inherit;
}
.inactivItem div input {
  pointer-events: none;
}
.inactivItem div input:focus-visible {
  outline: transparent;
}
.bdr {
  border: 1px solid #dcdfe2;
}
.bdr-t {
  border-top: 1px solid #dcdfe2;
}
.bdr-r {
  border-right: 1px solid #dcdfe2;
}
.bdr-b {
  border-bottom: 1px solid #dcdfe2;
}
.bdr-l {
  border-left: 1px solid #dcdfe2;
}
.pa0 {
  padding: 0rem;
}
.pa0_ {
  padding: 0.5rem;
}
.ma0 {
  margin: 0rem;
}
.ma0_ {
  margin: 0.5rem;
}
.pt0 {
  padding-top: 0rem;
}
.pt0_ {
  padding-top: 0.5rem;
}
.mt0 {
  margin-top: 0rem;
}
.mt0_ {
  margin-top: 0.5rem;
}
.pr0 {
  padding-right: 0rem;
}
.pr0_ {
  padding-right: 0.5rem;
}
.mr0 {
  margin-right: 0rem;
}
.mr0_ {
  margin-right: 0.5rem;
}
.pb0 {
  padding-bottom: 0rem;
}
.pb0_ {
  padding-bottom: 0.5rem;
}
.mb0 {
  margin-bottom: 0rem;
}
.mb0_ {
  margin-bottom: 0.5rem;
}
.pl0 {
  padding-left: 0rem;
}
.pl0_ {
  padding-left: 0.5rem;
}
.ml0 {
  margin-left: 0rem;
}
.ml0_ {
  margin-left: 0.5rem;
}
.pa1 {
  padding: 1rem;
}
.pa1_ {
  padding: 1.5rem;
}
.ma1 {
  margin: 1rem;
}
.ma1_ {
  margin: 1.5rem;
}
.pt1 {
  padding-top: 1rem;
}
.pt1_ {
  padding-top: 1.5rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt1_ {
  margin-top: 1.5rem;
}
.pr1 {
  padding-right: 1rem;
}
.pr1_ {
  padding-right: 1.5rem;
}
.mr1 {
  margin-right: 1rem;
}
.mr1_ {
  margin-right: 1.5rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.pb1_ {
  padding-bottom: 1.5rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb1_ {
  margin-bottom: 1.5rem;
}
.pl1 {
  padding-left: 1rem;
}
.pl1_ {
  padding-left: 1.5rem;
}
.ml1 {
  margin-left: 1rem;
}
.ml1_ {
  margin-left: 1.5rem;
}
.pa2 {
  padding: 2rem;
}
.pa2_ {
  padding: 2.5rem;
}
.ma2 {
  margin: 2rem;
}
.ma2_ {
  margin: 2.5rem;
}
.pt2 {
  padding-top: 2rem;
}
.pt2_ {
  padding-top: 2.5rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt2_ {
  margin-top: 2.5rem;
}
.pr2 {
  padding-right: 2rem;
}
.pr2_ {
  padding-right: 2.5rem;
}
.mr2 {
  margin-right: 2rem;
}
.mr2_ {
  margin-right: 2.5rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.pb2_ {
  padding-bottom: 2.5rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb2_ {
  margin-bottom: 2.5rem;
}
.pl2 {
  padding-left: 2rem;
}
.pl2_ {
  padding-left: 2.5rem;
}
.ml2 {
  margin-left: 2rem;
}
.ml2_ {
  margin-left: 2.5rem;
}
.pa3 {
  padding: 3rem;
}
.pa3_ {
  padding: 3.5rem;
}
.ma3 {
  margin: 3rem;
}
.ma3_ {
  margin: 3.5rem;
}
.pt3 {
  padding-top: 3rem;
}
.pt3_ {
  padding-top: 3.5rem;
}
.mt3 {
  margin-top: 3rem;
}
.mt3_ {
  margin-top: 3.5rem;
}
.pr3 {
  padding-right: 3rem;
}
.pr3_ {
  padding-right: 3.5rem;
}
.mr3 {
  margin-right: 3rem;
}
.mr3_ {
  margin-right: 3.5rem;
}
.pb3 {
  padding-bottom: 3rem;
}
.pb3_ {
  padding-bottom: 3.5rem;
}
.mb3 {
  margin-bottom: 3rem;
}
.mb3_ {
  margin-bottom: 3.5rem;
}
.pl3 {
  padding-left: 3rem;
}
.pl3_ {
  padding-left: 3.5rem;
}
.ml3 {
  margin-left: 3rem;
}
.ml3_ {
  margin-left: 3.5rem;
}
.pa4 {
  padding: 4rem;
}
.pa4_ {
  padding: 4.5rem;
}
.ma4 {
  margin: 4rem;
}
.ma4_ {
  margin: 4.5rem;
}
.pt4 {
  padding-top: 4rem;
}
.pt4_ {
  padding-top: 4.5rem;
}
.mt4 {
  margin-top: 4rem;
}
.mt4_ {
  margin-top: 4.5rem;
}
.pr4 {
  padding-right: 4rem;
}
.pr4_ {
  padding-right: 4.5rem;
}
.mr4 {
  margin-right: 4rem;
}
.mr4_ {
  margin-right: 4.5rem;
}
.pb4 {
  padding-bottom: 4rem;
}
.pb4_ {
  padding-bottom: 4.5rem;
}
.mb4 {
  margin-bottom: 4rem;
}
.mb4_ {
  margin-bottom: 4.5rem;
}
.pl4 {
  padding-left: 4rem;
}
.pl4_ {
  padding-left: 4.5rem;
}
.ml4 {
  margin-left: 4rem;
}
.ml4_ {
  margin-left: 4.5rem;
}
.pa5 {
  padding: 5rem;
}
.pa5_ {
  padding: 5.5rem;
}
.ma5 {
  margin: 5rem;
}
.ma5_ {
  margin: 5.5rem;
}
.pt5 {
  padding-top: 5rem;
}
.pt5_ {
  padding-top: 5.5rem;
}
.mt5 {
  margin-top: 5rem;
}
.mt5_ {
  margin-top: 5.5rem;
}
.pr5 {
  padding-right: 5rem;
}
.pr5_ {
  padding-right: 5.5rem;
}
.mr5 {
  margin-right: 5rem;
}
.mr5_ {
  margin-right: 5.5rem;
}
.pb5 {
  padding-bottom: 5rem;
}
.pb5_ {
  padding-bottom: 5.5rem;
}
.mb5 {
  margin-bottom: 5rem;
}
.mb5_ {
  margin-bottom: 5.5rem;
}
.pl5 {
  padding-left: 5rem;
}
.pl5_ {
  padding-left: 5.5rem;
}
.ml5 {
  margin-left: 5rem;
}
.ml5_ {
  margin-left: 5.5rem;
}
.pa6 {
  padding: 6rem;
}
.pa6_ {
  padding: 6.5rem;
}
.ma6 {
  margin: 6rem;
}
.ma6_ {
  margin: 6.5rem;
}
.pt6 {
  padding-top: 6rem;
}
.pt6_ {
  padding-top: 6.5rem;
}
.mt6 {
  margin-top: 6rem;
}
.mt6_ {
  margin-top: 6.5rem;
}
.pr6 {
  padding-right: 6rem;
}
.pr6_ {
  padding-right: 6.5rem;
}
.mr6 {
  margin-right: 6rem;
}
.mr6_ {
  margin-right: 6.5rem;
}
.pb6 {
  padding-bottom: 6rem;
}
.pb6_ {
  padding-bottom: 6.5rem;
}
.mb6 {
  margin-bottom: 6rem;
}
.mb6_ {
  margin-bottom: 6.5rem;
}
.pl6 {
  padding-left: 6rem;
}
.pl6_ {
  padding-left: 6.5rem;
}
.ml6 {
  margin-left: 6rem;
}
.ml6_ {
  margin-left: 6.5rem;
}
.paauto {
  padding: auto;
}
.maauto {
  margin: auto;
}
.ptauto {
  padding-top: auto;
}
.mtauto {
  margin-top: auto;
}
.prauto {
  padding-right: auto;
}
.mrauto {
  margin-right: auto;
}
.pbauto {
  padding-bottom: auto;
}
.mbauto {
  margin-bottom: auto;
}
.plauto {
  padding-left: auto;
}
.mlauto {
  margin-left: auto;
}
.lh1 {
  line-height: 1;
}
.lh2 {
  line-height: 2;
}
.lh3 {
  line-height: 3;
}
.lh4 {
  line-height: 4;
}
.lh5 {
  line-height: 5;
}
.footer {
  width: 100%;
  color: #fff;
  background: #03365f;
}
.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  color: #fff;
  background: #03365f;
}
.footer-wrapper.page-wrapper {
  padding: 1.5rem 0rem 2rem 0rem;
}
.footer-wrapper-list {
  max-width: 33%;
}
.footer-wrapper-list p {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.footer-wrapper-list ul {
  margin: 0rem auto;
  flex-wrap: wrap;
  max-width: 1280px;
}
.footer-wrapper-list ul li a {
  color: #fff;
}
.footer-wrapper-socialMedia ul li {
  margin-left: 1rem;
  display: block;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  vertical-align: middle;
  background: #fff;
}
.footer-wrapper-socialMedia ul li:first-child {
  margin-left: 0rem;
}
.footer-wrapper-socialMedia ul li i {
  font-size: 18px;
  color: #03365f;
}
.footer-bottom {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 11px;
  color: #fff;
  background: #000;
}
.footer-bottom-logo {
  max-width: 80px;
}
.footer-bottom-logo .cls-1,
.footer-bottom-logo .cls-2 {
  fill: #fff;
}
.footer-bottom span {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footer-bottom span {
    margin-left: 1rem;
    display: inline-block;
  }
}
.header {
  padding-top: 4rem;
}
.header-bottom {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff;
  background: #03365f;
}
.header-bottom .title3 {
  color: #fff;
}
.header-bottom-search {
  width: 100%;
  align-items: center;
}
.header-bottom-search .form {
  padding: 0rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.header-bottom-search .form-field,
.header-bottom-search .form-btn button {
  min-height: 2.5rem;
}
.header-bottom-search .form-field > input,
.header-bottom-search .form-btn button > input {
  padding: 0rem 0.5rem;
}
.header-bottom-search .form-field {
  padding: 0.2rem 0.7rem;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border: 1px solid #dcdfe2;
  border-radius: 0.5rem 0 0 0.5rem;
  background: #fff;
}
.header-bottom-search .form-field i {
  font-size: 22px;
  color: #b3b7bb;
}
.header-bottom-search .form-field input {
  height: 100%;
  border: none;
  background: transparent;
}
.header-bottom-search .form-btn button {
  padding: 0.2rem 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.header .searchbar {
  height: auto;
  order: 3;
  align-items: center;
}
.header .searchbar form {
  border: none;
}
.header .searchbar form-field input {
  border-radius: 0;
  border: 1px solid #dcdfe2;
}
.header .searchbar-btn button i {
  color: #616770;
  font-size: 18px;
}
.header .contact-btn {
  color: #fff;
  background: #0bb18f;
}
.header .scrollDown .searchbar {
  order: 2;
  width: 80%;
}
.header .scrollDown .searchbar-field input {
  background: #fff;
}
@media screen and (min-width: 768px) {
  .header .searchbar {
    margin-right: 2.5rem;
    order: 3;
    width: 100%;
    height: auto;
    background: transparent;
  }
}
.login-subtitle {
  font-size: 15px;
  color: #000;
}
.login-navmenu {
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 4rem;
  background: #f4f6f9;
}
.login-navmenu .navmenu-sizer {
  justify-content: space-between;
}
.login-logo.navmenu-logo {
  margin: -0.5rem 0rem 0rem;
  order: inherit;
}
.login-langbar form select {
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  min-width: 150px;
  font-size: 14px;
  color: #616770;
}
.login-form-field {
  margin: 0rem auto 1rem;
  text-align: left;
  width: 100%;
}
.login-form-field label {
  font-weight: 600;
  font-size: 14px;
}
.login-form-field input,
.login-form-field select {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #b3b7bb;
  border-radius: 0.3rem;
}
.login-form-field input:focus,
.login-form-field select:focus {
  outline-color: #0bb18f;
}
.login-ctnr {
  padding: 2rem;
  margin: auto;
  max-width: 450px;
  background: #f4f6f9;
  border-radius: 0.5rem;
}
.login-ctnr position relative {
  z-index: 0;
}
.login-keyboard {
  display: flex;
  max-width: 180px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.login-keyboard button {
  margin: 0rem 0.1rem 0.2rem;
  width: calc((100% / 4) - 0.2rem);
  height: 2.2rem;
  font-size: 18px;
  border-radius: 0.3rem;
}
.page-main {
  padding-bottom: 4rem;
  width: 100%;
  min-width: 300px;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.25rem;
  color: #03365f;
  background: #fff;
}
body * {
  box-sizing: border-box;
}
body.noScroll {
  overflow: hidden;
}
.page-wrapper {
  padding: 1rem 1.5rem;
  margin: 0rem auto;
  max-width: 1280px;
  flex-grow: 1;
}
.page-breadcrumb {
  font-size: 12px;
  color: #03365f;
}
.page-breadcrumb a {
  display: inline-flex;
}
.page-breadcrumb a:hover {
  text-decoration: underline;
}
.page-breadcrumb ul {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.page-breadcrumb ul > li {
  margin-right: 0.5rem;
  display: flex;
  max-width: 32%;
}
.page-breadcrumb ul > li a {
  display: block;
}
.page-breadcrumb ul > li a,
.page-breadcrumb ul > li strong {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page-breadcrumb ul > li strong {
  color: #0bb18f;
}
.page-breadcrumb ul > li:after {
  margin-left: 0.5rem;
  content: '>';
  opacity: 0.7;
}
.page-breadcrumb ul > li:last-child {
  margin-right: 0rem;
}
.page-breadcrumb ul > li:last-child:after {
  content: none;
}
@media screen and (min-width: 768px) {
  .page-wrapper {
    padding: 2rem 3rem;
  }
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 13px;
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  line-height: initial;
  border: none;
  border-radius: 0.4rem;
  transition: transform 0.2s ease-out;
  color: #03365f;
}
a.btn {
  display: inline-flex;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.btn i {
  color: #b3b7bb;
}
.btn-light {
  padding: 0rem;
  align-items: center;
  border: none;
  background: none;
}
.btn-light i {
  color: #fff;
}
.btn-light:hover {
  cursor: pointer;
}
.btn-primary {
  border: 2px solid #03365f;
  background: #03365f;
}
.btn-primary,
.btn-primary i,
.btn-primary a {
  color: #fff;
}
.btn-primary.activBtn {
  border-color: #e00277;
  background: #e00277;
}
.btn-primary.activBtn,
.btn-primary.activBtn i,
.btn-primary.activBtn a {
  color: #fff;
}
.btn-primary.secondColor {
  border-color: #e00277;
  background: #e00277;
}
.btn-primary.secondColor,
.btn-primary.secondColor i,
.btn-primary.secondColor a {
  color: #fff;
}
.btn-primary.thirdColor {
  border-color: #f4f6f9;
  background: #f4f6f9;
}
.btn-primary.thirdColor,
.btn-primary.thirdColor i,
.btn-primary.thirdColor a {
  color: #fff;
}
.btn-secondary {
  line-height: normal;
  border: 2px solid #616770;
  background: transparent;
}
.btn-secondary,
.btn-secondary i,
.btn-secondary a {
  color: #616770;
}
.btn-secondary.secondColor {
  border-color: #e00277;
}
.btn-secondary.secondColor,
.btn-secondary.secondColor i,
.btn-secondary.secondColor a {
  color: #e00277;
}
.btn-secondary.thirdColor {
  border-color: #0bb18f;
}
.btn-secondary.thirdColor,
.btn-secondary.thirdColor i,
.btn-secondary.thirdColor a {
  color: #0bb18f;
}
.btn-icon {
  padding: 0rem;
  display: inline-block;
  background: transparent;
}
.btn-icon.secondColor i {
  color: #e00277;
}
.btn-switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22.5px;
  border: none;
}
.btn-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 43px;
  height: 23px;
  background-color: rgba(97,103,112,0.5);
  transition: 0.4s;
  border-radius: 3px;
}
.btn-switch .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: #f4f6f9;
  border-radius: 1px;
  transition: 0.4s;
}
.btn-switch.activ .slider {
  background-color: #0bb18f;
}
.btn-switch.activ .slider:before {
  left: 21px;
}
.btn-pagination-ctnr {
  display: none;
}
.btn-pagination-ctnr.visible {
  display: block;
}
.date {
  font-size: 12px;
  color: #b3b7bb;
  white-space: nowrap;
}
.form-content {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.3rem;
  background: #f4f6f9;
}
.form-content-part {
  padding: 1rem 0rem;
  border-top: 1px solid #dcdfe2;
}
.form-content-part:first-child {
  border: none;
}
.form-content .same-column {
  display: flex;
  flex-direction: row;
}
.form-content .same-column-block {
  margin-left: 2rem;
  width: 100%;
}
.form-content .same-column-block:first-child {
  margin: 0rem;
}
.form-content .same-column-block.midSize {
  width: calc(50% - 1rem);
}
.form-subtitle {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 15px;
  color: #b3b7bb;
}
.form-field label {
  font-weight: 600;
  font-size: 14px;
  color: #03365f;
}
.form-field input,
.form-field textarea,
.form-field select {
  padding: 0.3rem 0.4rem;
  width: 100%;
  font-size: 14px;
  border: 1px solid #dcdfe2;
  border-radius: 0.3rem;
}
.form-field input::placeholder,
.form-field textarea::placeholder,
.form-field select::placeholder {
  color: #dcdfe2;
}
.form-field input:focus-visible,
.form-field textarea:focus-visible,
.form-field select:focus-visible {
  outline-color: #0bb18f;
}
.uneditableField .form-field input,
.uneditableField .form-field textarea,
.uneditableField .form-field select {
  color: #616770;
  pointer-events: none;
  background: transparent;
}
.form-field select {
  font-weight: normal;
  max-width: 18rem;
  color: #03365f;
}
.form-field select.noWidth {
  max-width: inherit;
}
.form-field input[type=checkbox] {
  margin: 0rem 1.3rem 0rem 0rem;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 0;
}
.form-field input[type=checkbox]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  background: #fff;
  outline: 2px solid #dcdfe2;
  border-radius: 0.2rem;
}
.form-field input[type=checkbox]:checked:before {
  background: #03365f;
  outline: 2px solid #03365f;
}
.form-field input[type=checkbox]:checked:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f00c";
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  outline: 2px solid #03365f;
  border-radius: 0.3rem;
}
.form-field input[type=checkbox]:hover {
  cursor: pointer;
}
.form-field input[type=radio] {
  margin: 0rem 0.5rem 0rem 0rem;
  width: auto;
}
.form-field textarea {
  height: 6rem;
}
.form-field.oneLineField {
  align-items: start;
}
.form-field.oneLineField label {
  width: 90%;
}
.form-field .uploadField {
  padding: 1rem 0rem;
  text-align: center;
  background: #f4f6f9;
  border-radius: 0.5rem;
}
.form-field .uploadField button {
  width: auto;
  border: none;
  cursor: pointer;
  background: transparent;
}
.form-field .uploadField button i {
  font-size: 22px;
  color: #616770;
}
.form-radio-ctnr .control-label {
  margin-right: 1rem;
  font-size: 14px;
  color: #000;
}
.form-tab-list {
  flex-wrap: nowrap;
  justify-content: start;
  border-bottom: 1px solid #0bb18f;
}
.form-tab-button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  top: 0;
  z-index: 0;
  max-width: 36%;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0.3rem 0.3rem 0 0;
  border: none;
  text-align: center;
  color: #03365f;
}
.form-tab-button:hover {
  cursor: pointer;
  transform: scale(1);
}
.form-tab-button:first-child {
  margin-left: 0rem;
}
.form-tab-button.activItem {
  color: #0bb18f;
  border: 2px solid #0bb18f;
  border-bottom: 1px solid #fff;
  top: 1px;
  z-index: 1;
  background: #fff;
}
.form-tab-button.activItem:hover {
  cursor: default;
}
.form-tab-content {
  display: none;
}
.form-tab-content.activItem {
  display: block;
}
.form-btn {
  display: flex;
  justify-content: center;
}
.title-small i {
  font-size: 18px;
}
.required {
  font-size: 18px;
}
.required,
.required-rule {
  color: #e00277;
}
.required-rule {
  font-size: 12px;
  font-weight: 600;
}
.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #f4f6f9;
  border-radius: 50%;
}
.icon-circle.thirdColor {
  background: #0bb18f;
}
.icon-circle.size6 {
  padding: 1.1rem;
}
.icon-circle.size4 {
  padding: 0.7rem;
}
.icon-list.inlineList {
  display: flex;
  flex-direction: row;
}
.icon-list.inlineList > li {
  margin-left: 2rem;
}
.icon-list.inlineList > li:first-child {
  margin-left: 0rem;
}
i.size1 {
  font-size: 16px;
}
i.size2 {
  font-size: 18px;
}
i.size3 {
  font-size: 22px;
}
i.size4 {
  font-size: 28px;
}
i.size5 {
  font-size: 35px;
}
i.size6 {
  font-size: 38px;
}
.spinner {
  margin: 15rem auto;
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.spinner::after,
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #1c355e;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.spinner::before {
  background-color: #e00277;
  transform: scale(0.5) translate(-48px, -48px);
}
.spinner-ctnr {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  border-radius: 0.5rem;
  background: rgba(244,246,249,0.5);
}
.spinner-ctnr.with-bg {
  background: #f4f6f9;
}
.spinner-ctnr.visible {
  display: flex;
}
@-moz-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
@-webkit-keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
@-o-keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
img {
  display: block;
  font-size: 7px;
  color: #b3b7bb;
  overflow: hidden;
  line-height: 1;
  background: #f4f6f9;
}
.media-img {
  max-width: 135px;
  width: 100%;
}
.media-img img {
  margin: 0rem auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 35px;
  border-radius: 0.4rem;
  overflow: hidden;
  background: #f4f6f9;
}
.media-img.small {
  max-width: 100%;
}
.media-img.middle,
.media-img.big {
  float: none;
}
.media-img.middle {
  margin: 0rem auto 1rem;
  max-width: 500px;
}
.media-img.big {
  margin: 0rem auto 1rem;
  max-width: 510px;
}
@media screen and (min-width: 768px) {
  .media-img {
    max-width: 280px;
  }
  .media-img.small {
    max-width: 200px;
  }
  .media-img.middle {
    margin: 0rem 2rem 1rem 0rem;
    max-width: 280px;
  }
  .media-img.big {
    max-width: 600px;
  }
}
.ez-embed-type-image {
  margin-top: 1rem;
}
.captcha-img {
  max-width: 190px;
}
.label {
  padding: 0.4rem;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border-radius: 0.5rem;
}
.label-theme1 {
  background: #2e5aac;
}
.label-theme2 {
  background: #b1578d;
}
a {
  text-decoration: none;
  color: #03365f;
}
a.currentLink {
  font-size: 12px;
  text-decoration: underline;
  color: #e00277;
}
a.currentLink.secondary {
  color: #0bb18f;
}
a.currentLink.tertiary {
  color: #b3b7bb;
}
ul {
  margin: 0;
}
ul,
ul li {
  list-style: none;
}
ul.underlinedList li {
  text-decoration: underline;
}
.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.list-title {
  padding: 0.8rem;
}
.list-content {
  font-size: 14px;
  color: #03365f;
}
.list-content a {
  color: #03365f;
}
.list-content a:hover {
  color: #0bb18f;
}
.list > li {
  padding: 0.6rem 0.8rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background: #fff;
}
.list > li:last-child {
  margin: 0rem;
}
.list > li button {
  padding: 0rem;
  width: 100%;
  font-size: 13px;
  color: #03365f;
  background: transparent;
  border: none;
}
.list > li button:hover {
  cursor: pointer;
  color: #0bb18f;
}
.list.inlineList {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.list .inlineList-item {
  margin-left: 0.6rem;
  padding: 0.6rem 0.4rem;
}
.list .inlineList-item:first-child {
  margin: 0rem;
}
.list .inlineList-item img {
  margin: 0rem auto 0.5rem;
  display: block;
  width: auto;
  height: 60px;
}
.list .inlineList-item strong {
  margin-bottom: 0.3rem;
  display: block;
  font-size: 14px;
  color: #e00277;
}
.list .inlineList-item span {
  font-size: 14px;
  color: #616770;
  line-height: 0.3;
}
.colx2 {
  margin: 0rem;
  align-items: end;
}
.colx2 > li {
  margin: 0rem;
  width: 100%;
}
.colx2 > li .list-title {
  padding: 0.5rem 0rem;
}
.bordered > li {
  padding: 0rem;
  border: 1px solid #dcdfe2;
}
.rounded > li {
  border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
  .colx2 {
    margin-left: -1.5rem;
  }
  .colx2 > li {
    padding: 0.5rem 0.8rem;
    margin: 0rem 0rem 0.8rem 1.5rem;
    position: relative;
    z-index: 0;
    width: calc((100% / 2) - 1.5rem);
  }
}
.table-ctnr {
  width: 100%;
  text-align: center;
  font-size: 13px;
}
.table-ctnr .required {
  color: #fff;
  font-size: 18px;
}
.table-ctnr tr:nth-child(odd) {
  background: #f4f6f9;
}
.table-ctnr tr:nth-child(even) {
  background: #fff;
}
.table-ctnr th,
.table-ctnr td {
  padding: 0.4rem;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.2);
}
.table-ctnr th {
  font-weight: 500;
}
.table-ctnr th .required {
  font-size: 18px;
}
.table-ctnr thead th {
  font-size: 13px;
  color: #fff;
  background: rgba(3,54,95,0.7);
}
.table-ctnr thead th:first-child {
  border: none;
  background: #fff;
}
.table-ctnr tbody th {
  width: 10%;
  font-weight: bold;
  text-align: left;
  font-size: 12px;
}
.table-ctnr td {
  color: #000;
}
.table-ctnr td input {
  min-width: 3rem;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .table-ctnr thead th {
    white-space: nowrap;
  }
  .table-ctnr tbody th {
    width: 35%;
  }
  .table-ctnr td input {
    min-width: 6rem;
  }
}
.title0 {
  font-weight: 600;
  color: #03365f;
}
.title0.normal {
  font-weight: 500;
}
.secondColor .title0 {
  color: #fff;
}
.title1 {
  font-weight: 600;
  color: #03365f;
}
.title1.normal {
  font-weight: 500;
}
.secondColor .title1 {
  color: #fff;
}
.title2 {
  font-weight: 600;
  color: #03365f;
}
.title2.normal {
  font-weight: 500;
}
.secondColor .title2 {
  color: #fff;
}
.title3 {
  font-weight: 600;
  color: #03365f;
}
.title3.normal {
  font-weight: 500;
}
.secondColor .title3 {
  color: #fff;
}
.title4 {
  font-weight: 600;
  color: #03365f;
}
.title4.normal {
  font-weight: 500;
}
.secondColor .title4 {
  color: #fff;
}
.title5 {
  font-weight: 600;
  color: #03365f;
}
.title5.normal {
  font-weight: 500;
}
.secondColor .title5 {
  color: #fff;
}
.title1 {
  font-size: 24px;
  line-height: 2rem;
}
.title2 {
  font-size: 20px;
}
.title3 {
  font-size: 18px;
}
.title4 {
  font-size: 15px;
}
.title5 {
  font-size: 12px;
}
.title-small {
  padding: 0.5rem 0rem;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #03365f;
  background: transparent;
  border: none;
}
.title-small i {
  color: #03365f;
}
.title-small.secondColor i,
.title-small.secondColor {
  color: #e00277;
}
.title-small.thirdColor i,
.title-small.thirdColor {
  color: #0bb18f;
}
.title-img {
  max-width: 50px;
  height: auto;
}
.title-sublevel {
  color: #b3b7bb;
}
.title-tiny {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .title1 {
    font-size: 24px;
  }
  .title2 {
    font-size: 21px;
  }
  .title5 {
    font-size: 13px;
  }
}
strong {
  font-weight: 600;
}
.accordion-title {
  padding: 0.5rem 0.8rem;
}
.accordion-title button {
  display: flex;
  width: 100%;
}
.accordion-title button:after {
  margin-left: auto;
  font-family: 'Font Awesome 5 Free';
  content: "\f0dd";
  height: 15px;
  line-height: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #b3b7bb;
  transition: transform 0.25s ease-out;
}
.open .accordion-title button:after {
  line-height: 5px;
  height: 15px;
  color: #e00277;
  transform: rotate(180deg);
}
.accordion-title button:hover:after {
  color: #0bb18f;
}
.accordion-content {
  padding: 0rem;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.open .accordion-content {
  padding: 1rem 0rem;
  visibility: visible;
  opacity: 1;
  max-height: 999em;
  transition: max-height 0.5s ease-in-out, padding-top 0.3s ease, opacity 0.2s ease-out;
}
.accordion.bordered .open .accordion-content {
  padding: 1rem;
  border-top: 1px solid #dcdfe2;
  background: #f4f6f9;
  border-radius: 0 0 0.5rem 0.5rem;
}
.accordion.withoutBg .open .accordion-content {
  background: none;
}
@media screen and (min-width: 768px) {
  .accordion.colx2 > li.open {
    z-index: 1;
  }
  .accordion.colx2 > li.open .accordion-content {
    padding: 1rem;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    width: 100%;
    border: 1px solid #dcdfe2;
    background: #fff;
  }
}
.account {
  margin-right: 1.5rem;
}
.account-btn {
  border: none;
}
.account-btn.activ span {
  text-decoration: underline;
}
.account-menu.dropdown-menu {
  margin-top: 1rem;
  background: #f4f6f9;
}
.dropdown-ctnr.expand .account-menu.dropdown-menu {
  padding: 1rem;
}
.account-menu-top {
  display: flex;
  justify-content: space-between;
}
.account-menu-top i {
  color: #e00277;
}
.account-menu-list {
  font-size: 13px;
}
.account-menu-list li {
  font-weight: normal;
  white-space: nowrap;
}
.account-menu-btns {
  display: flex;
}
.account-menu-btns .btn {
  margin-left: 1rem;
  width: 100%;
}
.account-menu-btns .btn:first-child {
  margin-left: 0rem;
}
@media screen and (min-width: 768px) {
  .account {
    margin: 0rem 0rem 0rem auto;
    display: flex;
    height: 100%;
    order: 5;
  }
}
.article {
  display: flex;
  flex-direction: row;
  line-height: normal;
  width: 100%;
}
.article-listing-item,
.article-thumbnail,
.article-listing-item > *,
.article-thumbnail > * {
  display: flex;
  flex-direction: row;
  line-height: normal;
  width: 100%;
}
.article-listing-item .article-desc,
.article-thumbnail .article-desc,
.article-listing-item .article-desc .title,
.article-thumbnail .article-desc .title {
  font-size: 13px;
}
.article-listing-item:first-child,
.article-thumbnail:first-child {
  margin-top: 0rem;
  padding-top: 0rem;
  border: none;
}
.article-listing-item .searchedTerm,
.article-thumbnail .searchedTerm {
  color: #0bb18f;
}
.article-img {
  width: 200px;
  height: auto;
  min-height: 100px;
}
.article-desc {
  margin-left: 1rem;
  width: 100%;
  font-size: 14px;
}
.article-desc .title,
.article-desc .date {
  margin-bottom: 0.3rem;
  display: block;
}
.article-desc .title {
  font-size: 16px;
}
.article-listing-item {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid #dcdfe2;
}
.article-listing-item .article-img {
  width: 130px;
  height: auto;
  min-height: 60px;
  border-radius: 0.3rem;
  overflow: hidden;
}
.article-thumbnail {
  margin-top: 1.5rem;
}
.article-thumbnail .article-img {
  width: auto;
  height: 35px;
  min-height: 15px;
}
.article-thumbnail .article-desc {
  margin-left: 0.5rem;
  font-size: 12px;
}
.article-vid .article-img {
  position: relative;
}
.article-vid .article-img::after {
  content: '\f04b';
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
  background: rgba(0,0,0,0.5);
}
.article-doc .article-img {
  width: 110px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-doc .article-desc {
  margin-right: 3rem;
  width: 50%;
}
.article-doc .article-btns .btn {
  margin-left: 1rem;
}
.article-doc .article-btns .btn:first-child {
  margin: 0rem;
}
.article-doc-desc {
  color: #b3b7bb;
}
.article-faq .faqSubject {
  padding: 0rem 1rem;
  width: 130px;
  font-weight: 600;
  color: #b3b7bb;
}
.article-details a {
  color: #e00277;
  text-decoration: underline;
}
.article-details p {
  margin-bottom: 2rem;
}
.article-details img {
  float: left;
  max-width: 15rem;
  height: auto;
}
.article-details ul {
  margin-bottom: 2rem;
}
.article-details ul li {
  list-style: disc;
  list-style-position: inside;
}
.article-details table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}
.article-details table th,
.article-details table td {
  padding: 0.6rem;
  border: 2px solid #fff;
}
.article-details table th {
  color: #fff;
  background: #1c355e;
}
.article-details table tr:nth-child(odd) {
  background: #f4f6f9;
}
.article-details table tr:nth-child(even) {
  background: rgba(28,53,94,0.1);
}
.banner-wide {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  background: #b3b7bb no-repeat center/cover;
}
.banner-wide.onHome {
  min-height: 310px;
  background-image: url("/images/main_img.png");
}
.banner-wide-title {
  margin-top: -8rem;
  text-transform: uppercase;
}
.banner-wide-subtitle {
  font-size: 18px;
}
.dropdown-btn {
  display: flex;
  flex-wrap: nowrap;
}
.dropdown-btn.withArrow::after {
  margin-left: 0.5rem;
  content: '\f0dd';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 5px;
  height: 10px;
  transition: transform 0.2s ease-out;
}
.dropdown-menu {
  padding: 0rem 1rem;
  box-shadow: 0 1px 7px rgba(0,0,0,0.3);
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  opacity: 0;
  height: 0;
  min-height: 0;
  min-width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 0.3rem;
  transition: all 0.2s ease-out;
}
.dropdown-menu-list li {
  padding: 0.3rem 0rem;
  border-top: 1px solid #dcdfe2;
}
.dropdown-menu-list li:first-child {
  border: none;
}
.dropdown-menu-list a {
  display: block;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  transition: font 0.1s ease;
}
.dropdown-menu-list a:hover {
  font-weight: 700;
}
.dropdown-ctnr {
  position: relative;
  z-index: 0;
}
.dropdown-ctnr.expand .dropdown-btn.withArrow::after {
  transform: rotate(180deg);
}
.dropdown-ctnr.expand .dropdown-menu {
  padding: 0.5rem 1rem;
  opacity: 1;
  height: auto;
  min-height: 50px;
}
.entriesBlock {
  display: flex;
  flex-direction: column;
}
.entriesBlock,
.entriesBlock.listingBlock {
  padding: 0rem;
}
.entriesBlock-title {
  padding: 1rem;
  text-align: center;
  color: #fff;
}
.entriesColor1 .entriesBlock-title {
  background: #669cc3;
}
.entriesColor2 .entriesBlock-title {
  background: #c575aa;
}
.entriesColor3 .entriesBlock-title {
  background: #4bc289;
}
.entriesBlock-title div {
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.entriesBlock-title i {
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 22px;
  background: #fff;
}
.entriesColor1 .entriesBlock-title i {
  color: #669cc3;
}
.entriesColor2 .entriesBlock-title i {
  color: #c575aa;
}
.entriesColor3 .entriesBlock-title i {
  color: #4bc289;
}
.entriesBlock-list {
  padding: 2rem;
  height: 100%;
}
.entriesBlock-list,
.entriesBlock-list.listingBlock-list {
  justify-content: center;
}
.entriesBlock-list li {
  margin-top: 0.5rem;
}
.entriesBlock-list li:first-child {
  margin: 0rem;
}
.entriesBlock-list .btn-secondary {
  width: 100%;
}
.entriesColor1 .entriesBlock-list .btn-secondary {
  border-color: #669cc3;
  color: #669cc3;
}
.entriesColor2 .entriesBlock-list .btn-secondary {
  border-color: #c575aa;
  color: #c575aa;
}
.entriesColor3 .entriesBlock-list .btn-secondary {
  border-color: #4bc289;
  color: #4bc289;
}
.expandable-item {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  height: auto;
  max-height: 150px;
  opacity: 1;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.expandable-item.hidden {
  margin-top: 0rem;
  padding-top: 0rem;
  height: 0;
  opacity: 0;
  max-height: 0;
}
.graph-listing-item {
  width: 25%;
  text-align: center;
}
.graph-listing-desc {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}
.graph-listing-number {
  margin-bottom: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: conic-gradient(#f4f6f9 0% 85%, #fff 85%);
}
.graphColor1 .graph-listing-number {
  color: #ee72b3;
  background: conic-gradient(#ee72b3 0% 30%, #f4f6f9 30%);
}
.graphColor2 .graph-listing-number {
  color: #3ad1b2;
  background: conic-gradient(#3ad1b2 0% 10%, #f4f6f9 10%);
}
.graphColor3 .graph-listing-number {
  color: #5382a8;
  background: conic-gradient(#5382a8 0% 50%, #f4f6f9 50%);
}
.graph-listing-number::after {
  content: '';
  position: absolute;
  height: 58px;
  width: 57px;
  border-radius: 50%;
  background-color: #fff;
}
.graph-listing-number span {
  z-index: 2;
  font-size: 21px;
  font-weight: 700;
}
@media screen and (min-width: 960px) {
  .graph-listing-item {
    padding: 1rem 1rem;
  }
}
.library-ctnr {
  margin-top: 1rem;
}
.library-ctnr:first-child {
  margin-top: 0rem;
}
.library-title {
  display: flex;
  width: 100%;
  align-items: center;
}
.listingBlock {
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 1px 7px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 27rem;
  overflow: hidden;
  align-content: center;
  background: #fff;
  border-radius: 0.3rem;
}
.listingBlock:first-child {
  margin: 0rem;
}
.listingBlock-ctnr {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.listingBlock-ctnr.onHome {
  margin-top: -10rem;
}
.listingBlock-ctnr.onHome .listingBlock {
  max-width: inherit;
}
.listingBlock-list {
  display: flex;
  justify-content: space-around;
}
.listingBlock-list.hListing {
  flex-direction: row;
}
.listingBlock-list.vListing {
  flex-direction: column;
}
.listingBlock-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  border-bottom: 1px solid #dcdfe2;
}
.listingBlock-img {
  margin: 0rem 0.5rem;
  align-self: center;
  max-width: 160px;
}
@media screen and (min-width: 960px) {
  .listingBlock {
    margin: 0rem 0rem 0rem 1.5rem;
  }
  .listingBlock-ctnr {
    flex-direction: row;
    align-items: initial;
  }
}
.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  transition: background 0.8s ease, height 0.6s ease;
  background: #03365f;
}
.navmenu .nav-wrapper {
  padding: 1rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.navmenu .nav-wrapper-right {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  order: 3;
  width: 100%;
}
.navmenu-logo {
  margin: 0rem auto 0.5rem;
  order: 1;
  max-width: 100px;
  min-width: 60px;
  height: 100%;
  width: auto;
}
.navmenu .navmenu-item {
  padding: 0rem;
  position: relative;
  z-index: 0;
  line-height: 1.1;
  border-left: 1px solid rgba(255,255,255,0.5);
}
.navmenu .navmenu-item:first-child {
  border: none;
}
.navmenu .navmenu-item-menu {
  background: #f4f6f9;
}
.navmenu .navmenu-item-menu li a {
  padding: 0.3rem 0rem;
  display: block;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  transition: transform 0.2s ease;
}
.navmenu .navmenu-item-menu li a:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.navmenu .navmenu-item > a {
  margin: 0rem 2rem;
  text-align: center;
  transition: transform 0.2s ease-out;
  font-weight: 600;
}
.navmenu .navmenu-item > a:not(.btn-primary) {
  color: #fff;
}
.navmenu .navmenu-item > a:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.navmenu .navmenu-item.activLink a {
  color: #e00277;
}
.navmenu .navmenu-item-btn,
.navmenu .navmenu-item-menu {
  margin-top: 1rem;
  right: inherit;
}
.navmenu-btns {
  display: none;
  align-items: center;
  width: 100%;
  order: 4;
}
.navmenu-btns > * {
  margin-left: 1rem;
}
.navmenu-btns > *:first-child {
  margin: 0rem;
}
.navmenu-btns .btn {
  white-space: nowrap;
}
.navmenu-btns .btn > * {
  color: #fff;
}
.navmenu-langBar {
  width: 14rem;
}
.navmenu-mobilebtn {
  margin-left: 1.5rem;
  padding: 0rem;
  order: 1;
  position: relative;
  z-index: 150;
  font-size: 35px;
  border: none;
  cursor: pointer;
  background: transparent;
}
.navmenu-mobilebtn:hover {
  transform: scale(1.1);
}
.navmenu-mobilebtn:focus {
  outline: none;
}
.navmenu-mobilebtn i {
  color: #03365f;
  font-size: 35px;
  vertical-align: middle;
}
.navmenu-mobilebtn .fa-times {
  display: none;
}
.navmenu.scrollDown {
  padding: 0rem 1.5rem;
  height: 4rem;
  justify-content: space-between;
  background: rgba(244,246,249,0.9);
}
.navmenu.scrollDown .navmenu-sizer {
  flex-wrap: nowrap;
}
.navmenu.scrollDown .navmenu-mobilebtn {
  margin: 0rem auto 0rem 0rem;
}
.navmenu.scrollDown .navmenu-logo {
  display: none;
}
.navmenu.openNavMenu .navmenu-list {
  padding-top: 4rem;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  background: #03365f;
  transition: opacity 0.2s ease-out;
}
.navmenu.openNavMenu .navmenu-list .navmenu-item {
  padding: 0rem 2rem;
  margin: 0rem;
}
.navmenu.openNavMenu .navmenu-list .navmenu-item:first-child a,
.navmenu.openNavMenu .navmenu-list .navmenu-item:first-child .btn {
  border: none;
}
.navmenu.openNavMenu .navmenu-list .navmenu-item:hover {
  background: rgba(0,0,0,0.1);
}
.navmenu.openNavMenu .navmenu-list .navmenu-item a,
.navmenu.openNavMenu .navmenu-list .navmenu-item .btn {
  padding: 1.5rem 0rem;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 13px;
  color: #fff;
  border-top: 1px solid rgba(255,255,255,0.5);
  background: transparent;
  border-radius: 0;
}
.navmenu.openNavMenu .navmenu-list .navmenu-item a:hover,
.navmenu.openNavMenu .navmenu-list .navmenu-item .btn:hover {
  transform: inherit;
}
.navmenu.openNavMenu .navmenu-list .navmenu-item.activLink+ li a,
.navmenu.openNavMenu .navmenu-list .navmenu-item.activLink+ li button {
  border: none;
}
.navmenu.openNavMenu .navmenu-list .navmenu-item.activLink,
.navmenu.openNavMenu .navmenu-list .navmenu-item.activLink a {
  cursor: default;
  border: none;
  background: #0bb18f;
}
.navmenu.openNavMenu .navmenu-mobilebtn {
  background: transparent;
}
.navmenu.openNavMenu .navmenu-mobilebtn i {
  color: #fff;
}
.navmenu.openNavMenu .navmenu-mobilebtn .fa-bars {
  display: none;
}
.navmenu.openNavMenu .navmenu-mobilebtn .fa-times {
  display: block;
}
@media screen and (min-width: 768px) {
  .navmenu {
    height: 4rem;
  }
  .navmenu-btns {
    display: inline-flex;
  }
  .navmenu-sizer {
    flex-wrap: nowrap;
  }
  .navmenu-logo {
    margin: -0.5rem 0rem 0rem;
    max-width: 120px;
  }
  .navmenu .nav-wrapper {
    flex-wrap: nowrap;
  }
  .navmenu .nav-wrapper-right {
    width: auto;
  }
  .navmenu-list {
    opacity: 1;
    width: auto;
    overflow: visible;
    display: flex;
    align-items: center;
    max-width: 1056px;
  }
  .navmenu-mobilebtn {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .navmenu-list .navmenu-item {
    font-size: 13px;
  }
  .navmenu-list .navmenu-item > a {
    margin: 0rem 2rem;
  }
}
.onboarding-btn {
  position: fixed;
  top: 50%;
  right: -5px;
}
.onboarding-btn .btn {
  padding: 0.7rem 1rem;
  box-shadow: 0 1px 7px rgba(0,0,0,0.3);
  border: none;
  font-size: 22px;
  background: rgba(3,54,95,0.7);
}
.onboarding-popin {
  display: flex;
  position: relative;
}
.onboarding-popin:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 20px solid #fff;
  border-bottom: 20px solid transparent;
  right: 20px;
  bottom: -40px;
}
.onboarding-popin.popin {
  padding: 0rem;
  overflow: visible;
}
.onboarding-popin.popin.visible {
  padding: 1rem;
}
.onboarding-popin-menu {
  padding: 1.5rem 2rem;
  width: 11rem;
  overflow: hidden;
  font-size: 14px;
  background: #f4f6f9;
  border-right: 1px solid #b3b7bb;
  border-radius: 0.3rem 0 0 0.3rem;
}
.onboarding-popin-menu li {
  list-style: disc;
}
.onboarding-popin-menu a {
  padding: 0.1rem 0rem;
  display: block;
  color: #616770;
}
.onboarding-popin-menu a:hover:not(.activ) {
  font-weight: 600;
  transform: scale(1.05);
}
.onboarding-popin-menu a.activ {
  font-weight: 600;
  color: #e00277;
  cursor: default;
}
.onboarding-popin-content {
  padding: 0.5rem 0rem 1rem 1.5rem;
  width: 100%;
}
.onboarding-popin-content .popin-description {
  font-size: 15px;
}
.onboarding-popin-pagination {
  font-size: 18px;
  color: #616770;
}
#temp_prospection-btn,
#temp_performances-block {
  position: relative;
  z-index: 1000;
  background: #fff;
}
.clear-pwd {
  text-decoration: none;
  position: relative;
  right: 10px;
  top: -28px;
  color: #e00277;
  font-size: 1.3em;
  float: right;
}
.overflow {
  padding: 1rem;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.6);
}
.overflow.visible {
  display: block;
}
@media screen and (min-width: 768px) {
  .overflow {
    padding: 2rem 0rem;
  }
}
.popin {
  margin: 0rem auto;
  box-shadow: 0 1px 7px rgba(0,0,0,0.2);
  color: #03365f;
  background: #fff;
  border-radius: 0.3rem;
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 0.8s ease;
}
.popin.visible {
  padding: 1.5rem;
  opacity: 1;
  width: 100%;
  height: auto;
  transition: opacity 0.8s ease;
}
.popin-top {
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 0;
}
.popin-top.secondColor {
  background: #e00277;
}
.popin-top.secondColor .popin-close-btn i {
  color: #fff;
}
.popin-top.thirdColor {
  background: #f4f6f9;
}
.popin-top.withStepbar:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4rem;
  background: #e00277;
}
.popin-top.withStepbar_10:after {
  width: 10%;
}
.popin-top.withStepbar_15:after {
  width: 15%;
}
.popin-top.withStepbar_20:after {
  width: 20%;
}
.popin-top.withStepbar_25:after {
  width: 25%;
}
.popin-top.withStepbar_30:after {
  width: 30%;
}
.popin-top.withStepbar_35:after {
  width: 35%;
}
.popin-top.withStepbar_40:after {
  width: 40%;
}
.popin-top.withStepbar_45:after {
  width: 45%;
}
.popin-top.withStepbar_50:after {
  width: 50%;
}
.popin-top.withStepbar_55:after {
  width: 55%;
}
.popin-top.withStepbar_60:after {
  width: 60%;
}
.popin-top.withStepbar_65:after {
  width: 65%;
}
.popin-top.withStepbar_70:after {
  width: 70%;
}
.popin-top.withStepbar_75:after {
  width: 75%;
}
.popin-top.withStepbar_80:after {
  width: 80%;
}
.popin-top.withStepbar_85:after {
  width: 85%;
}
.popin-top.withStepbar_90:after {
  width: 90%;
}
.popin-top.withStepbar_95:after {
  width: 95%;
}
.popin-close-btn {
  border: none;
  background: none;
  cursor: pointer;
}
.popin-close-btn i {
  font-size: 28px;
  color: #03365f;
}
.popin-content {
  padding: 1rem 1.5rem;
  background: #f4f6f9;
  border-radius: 0.5rem;
}
.limitedHeight .popin-content {
  max-height: 350px;
  overflow: hidden;
  overflow-y: auto;
}
.withStep .popin-content {
  padding: 1.5rem;
}
.popin-content .withBg1,
.popin-content .withBg2 {
  padding: 1rem;
}
.popin-content .withBg1 {
  background: rgba(97,103,112,0.1);
}
.popin-content .withBg2 {
  font-weight: bold;
  color: #616770;
  background: #f4f6f9;
}
.popin-content-title {
  margin-bottom: 0.5rem;
  font-size: 15px;
  color: #000;
}
.popin-content .code-ctnr {
  padding: 0.3rem 1rem;
  font-weight: bold;
  border: 1px solid #dcdfe2;
  border-radius: 0.3rem;
}
.popin-content .code-form {
  max-width: 300px;
}
.popin-content .info-line {
  color: #616770;
}
.popin-bottom {
  padding: 1rem 1.5rem 2rem;
}
.popin-precision {
  font-size: 12px;
  line-height: 0.5rem;
}
@media screen and (min-width: 768px) {
  .popin {
    max-width: 700px;
  }
  .popin-small {
    max-width: 500px;
  }
  .popin-small .popin-content {
    padding: 1rem 1.5rem 1.5rem;
  }
}
.popin-btn-hidden {
  display: none;
}
.searchbar {
  display: flex;
  width: 100%;
  background: #fff;
  transition: width 0.5s ease;
  background: transparent;
}
.searchbar form {
  display: flex;
  width: 100%;
  align-items: center;
  background: #fff;
  border: 1px solid #dcdfe2;
  border-radius: 0.3rem;
}
.searchbar form * {
  border: none;
  background: none;
}
.searchbar input,
.searchbar button {
  padding: 0.4rem 1rem;
  font-weight: 500;
}
.searchbar input {
  font-size: 13px;
}
.searchbar input:focus-visible {
  outline-color: #0bb18f;
}
.searchbar input::placeholder {
  color: #b3b7bb;
}
.searchbar-field,
.searchbar-field input {
  width: 100%;
}
.searchbar-btn:hover {
  cursor: pointer;
}
.searchbar-btn i {
  font-size: 16px;
  color: #616770;
}
@media screen and (min-width: 768px) {
  .searchbar {
    display: flex;
  }
  .searchbar form {
    border-radius: 0.5rem;
  }
  .searchbar-field input {
    border: none;
  }
  .searchbar-btn i {
    font-size: 16px;
  }
}
.sort-btn.withArrow::after {
  color: #b3b7bb;
}
.sort-menu {
  min-width: 11.5rem;
}
.submenu {
  text-align: center;
}
.submenu-list {
  width: 100%;
  display: inline-flex;
  justify-content: start;
  border-bottom: 1px solid #dcdfe2;
  overflow: hidden;
}
.submenu-list li {
  width: 100%;
  align-items: flex-end;
}
.submenu-list li button,
.submenu-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submenu-list li.activLink {
  border-bottom: 3px solid #e00277;
}
.submenu-list li.activLink button,
.submenu-list li.activLink a,
.submenu-list li.activLink h1 {
  color: #e00277;
}
.submenu-list li.activLink button:hover,
.submenu-list li.activLink a:hover {
  cursor: default;
}
.submenu-list.itemsx4,
.submenu-list.itemsx3 {
  width: 100%;
}
.submenu-list.itemsx4 li {
  width: 25%;
}
.submenu-list.itemsx3 li {
  width: 33%;
}
.submenu-list.fullWidth {
  width: 100%;
  overflow-x: auto;
}
.submenu-list.fullWidth li {
  width: auto;
}
.submenu-list button,
.submenu-list a {
  padding: 0rem 1rem;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #03365f;
  border: none;
  border-radius: 0;
  background: #fff;
  cursor: pointer;
}
.submenu-list button:hover,
.submenu-list a:hover {
  color: #e00277;
}
@media screen and (min-width: 768px) {
  .submenu-list,
  .submenu .itemsx4,
  .submenu .itemsx3 {
    flex-wrap: nowrap;
    width: auto;
  }
  .submenu-list li,
  .submenu .itemsx4 li,
  .submenu .itemsx3 li {
    width: auto;
  }
  .submenu-list button,
  .submenu .itemsx4 button,
  .submenu .itemsx3 button,
  .submenu-list a,
  .submenu .itemsx4 a,
  .submenu .itemsx3 a {
    padding: 0rem 1.5rem;
  }
  .submenu .itemsx4 button,
  .submenu .itemsx4 a {
    padding: 0rem 2rem;
  }
  .submenu .itemsx3 button,
  .submenu .itemsx3 a {
    padding: 0rem 3.5rem;
  }
  .submenu .fullWidth {
    overflow-x: initial;
  }
  .submenu .fullWidth button,
  .submenu .fullWidth a {
    padding: 0.3rem 1rem;
  }
}
