// Element : ACCOUNT

.account
    _mr(1.5)

    &-btn
        border none
        
        &.activ
            span
                text-decoration underline
    
    &-menu
        &.dropdown-menu
            _mt(1)
            background $color-bg-mid-light

            .dropdown-ctnr.expand &
                _pa(1)
        
        &-top
            display flex
            justify-content space-between
            
            i
                color $color-txt-second
            
        &-list
            font-size $font-size-mid
            
            li
                font-weight normal
                white-space nowrap
        
        &-btns
            display flex

            .btn
                _ml(1)
                width 100%
                
                &:first-child
                    _ml(0)

    @media $breakpoints.md
        _ma(0 0 0 auto)
        display flex
        height 100%
        order 5
