// Component : ACCORDION

.accordion
    &-title
        _pa(.5 .8)
        
        button
            display flex
            width 100%
    
            &:after
                _ml(auto)
                font-family 'Font Awesome 5 Free'
                content "\f0dd"
                height 15px
                line-height 10px
                font-weight 600
                font-size $font-icn-size2
                color $color-txt-mid-light
                transition transform .25s ease-out
                
                .open &
                    line-height 5px
                    height 15px
                    color $color-txt-second
                    transform rotate(180deg)
                
                
            &:hover
                &:after
                    color $color-txt-third
                
    &-content
        _pa(0)
        visibility hidden
        opacity 0
        max-height 0
        overflow hidden
        
        .open &
            _pa(1 0)
            visibility visible
            opacity 1
            max-height 999em
            transition max-height .5s ease-in-out, padding-top .3s ease, opacity .2s ease-out
        
    &.bordered
        .open
            .accordion-content
                _pa(1)
                border-top 1px solid $color-border1
                background $color-bg-mid-light
                border-radius 0 0 0.5rem 0.5rem
    
    &.withoutBg
        .open
            .accordion-content
                background none
        
    @media $breakpoints.md
        &.colx2
            > li                
                &.open
                    z-index 1
                
                    .accordion-content
                        _pa(1)
                        position absolute
                        left 0
                        top 100%
                        z-index 2
                        width 100%
                        border 1px solid $color-border1
                        background $color-bg-light
