// Component : ARTICLE

.article
    display flex
    flex-direction row
    line-height normal
    width 100%
            
    &-listing-item
    &-thumbnail
        &
        & > *
            display flex
            flex-direction row
            line-height normal
            width 100%
        
        .article-desc
        .article-desc .title
            font-size $font-size-mid
        
        &:first-child
            _mt(0)
            _pt(0)
            border none
        
        .searchedTerm
            color $color-txt-third

    &-img
        width 200px
        height auto
        min-height 100px

    &-desc
        _ml(1)
        width 100%
        font-size $font-size-mobile-primary
        
        .title
        .date
            _mb(.3)
            display block
        
        .title
            font-size $font-icn-size1
    
    &-listing-item
        _pt(1.5)
        _mt(1.5)
        border-top 1px solid $color-border1

        .article-img
            width 130px
            height auto
            min-height 60px
            border-radius .3rem
            overflow hidden
    
    &-thumbnail
        _mt(1.5)

        .article-img
            width auto
            height 35px
            min-height 15px
        
        .article-desc
            _ml(.5)
            font-size $font-size-small

    // Vid item
    &-vid
        .article-img
            position relative

            &::after
                content '\f04b'
                font-family 'Font Awesome 5 Free'
                position absolute
                left 0
                top 0
                z-index 2
                display flex
                justify-content center
                align-items center
                width 100%
                height  100%
                font-weight 600
                font-size $font-icn-size3
                color $color-txt-light
                background rgba(black, 0.5)
    
    // Doc item
    &-doc
        .article
            &-img
                width 110px
                font-size 60px
                display flex
                align-items center
                justify-content center
            
            &-desc
                _mr(3)
                width 50%
            
            &-btns
                .btn
                    _ml(1)
                    
                    &:first-child
                        _ma(0)
        
        &-desc
            color $color-txt-mid-light
    
    // FAQ item
    &-faq
        .faqSubject
            _pa(0 1)
            width 130px
            font-weight $semibold
            color $color-txt-mid-light

    &-details
        a
            color $color-txt-second
            text-decoration underline
        
        p
            _mb(2)
          
        img
            ma(0 1.5 1 0)
            float left
            max-width 15rem
            height auto

        ul
            _mb(2)
            
            li
                list-style disc
                list-style-position inside
        
        table
            _mb(2)
            width 100%
            text-align center
            
            th
            td
                _pa(.6)
                border 2px solid $color-txt-light
            
            th
                color $color-txt-light
                background #1c355e
                
            tr
                &:nth-child(odd)
                    background #f4f6f9
                
                &:nth-child(even)
                    background rgba(28,53,94,0.1)
