// Component : BANNER

.banner
    &-wide
        _pa(2 2)
        display flex
        flex-direction column
        justify-content center
        width 100%
        text-align center
        color $color-txt-light
        font-size $font-size-title1
        background $color-txt-mid-light no-repeat center/cover
        
        &.onHome
            min-height 310px
            background-image url("/images/main_img.png")
    
        &-title
            _mt(-8)
            text-transform uppercase
            
        &-subtitle
            font-size $font-size-title4
   