// Element : DROPDOWN

.dropdown        
    &-btn
        display flex
        flex-wrap nowrap

        &.withArrow
            &::after
                _ml(.5)
                content '\f0dd'
                font-family 'Font Awesome 5 Free'
                font-weight 600
                font-size $font-icn-size1
                color $color-txt-light
                line-height 5px
                height 10px
                transition transform .2s ease-out
 
    &-menu
        _pa(0 1)
        _thin-shadow(1, black, .3)
        position absolute
        right 0
        text-align left
        top 100%
        opacity 0
        height 0
        min-height 0
        min-width 100%
        overflow hidden
        background $color-txt-light
        border-radius .3rem
        transition all .2s ease-out
        
        &-list
            li
                _pa(.3 0)
                border-top 1px solid $color-border1
                
                &:first-child
                    border none

            a
                display block
                width 100%
                font-size $font-size-small
                white-space nowrap
                transition font .1s ease
                
                
                &:hover
                    font-weight $bold

    &-ctnr
        position relative
        z-index 0
        
        &.expand
            .dropdown-btn
                &.withArrow
                    &::after
                        transform rotate(180deg)
            
            .dropdown-menu
                _pa(.5 1)
                opacity 1
                height auto
                min-height 50px
