// Component : ENTRIESBLOCK

$entriesColor1 = #669CC3
$entriesColor2 = #C575AA
$entriesColor3 = #4BC289

.entriesBlock
    display flex
    flex-direction column

    &
    &.listingBlock
        _pa(0)

    &-title
        _pa(1)
        text-align center
        color $color-txt-light
        
        .entriesColor1 &
            background $entriesColor1
            
        .entriesColor2 &
            background $entriesColor2
            
        .entriesColor3 &
            background $entriesColor3
        
        div
            _mt(.5)
            text-transform uppercase
        
        i
            _pa(.5)
            border-radius 50%
            font-size $font-icn-size3
            background $color-txt-light
            
            .entriesColor1 &
                color $entriesColor1
                
            .entriesColor2 &
                color $entriesColor2
                
            .entriesColor3 &
                color $entriesColor3

    &-list
        _pa(2)
        height 100%
        
        &
        &.listingBlock-list
            justify-content center
            
        li
            _mt(.5)
                
            &:first-child
                _ma(0)

        .btn-secondary
            width 100%
            
            .entriesColor1 &
                border-color $entriesColor1
                color $entriesColor1
                
            .entriesColor2 &
                border-color $entriesColor2
                color $entriesColor2
                
            .entriesColor3 &
                border-color $entriesColor3
                color $entriesColor3
