// Element : EXPANDABLE

.expandable        
    &-item
        _mt(1.5)
        _pt(1.5)
        height auto
        max-height 150px
        opacity 1
        overflow hidden
        transition all .3s ease-out
        
        &.hidden
            _mt(0)
            _pt(0)
            height 0
            opacity 0
            max-height 0
