// Component : GRAPH

$graphColor1 = #EE72B3
$graphColor2 = #3AD1B2
$graphColor3 = #5382A8

$graphStat1 = 30%
$graphStat2 = 10%
$graphStat3 = 50%

.graph
    &-listing
        &-item
            width 25%
            text-align center
        
        &-desc
            font-size $font-size-small
            font-weight $semibold
            line-height normal
        
        &-number
            _mb(.5)
            display inline-flex
            justify-content center
            align-items center
            height 70px
            width 70px
            border-radius 50%
            background conic-gradient($color-bg-mid-light 0% 85%, #fff 85%)
            
            .graphColor1 &
                color $graphColor1
                background conic-gradient($graphColor1 0% $graphStat1, $color-bg-mid-light $graphStat1)
            
            .graphColor2 &
                color $graphColor2
                background conic-gradient($graphColor2 0% $graphStat2, $color-bg-mid-light $graphStat2)
            
            .graphColor3 &
                color $graphColor3
                background conic-gradient($graphColor3 0% $graphStat3, $color-bg-mid-light $graphStat3)
            
            
            &::after
                content ''
                position absolute
                height 58px
                width 57px
                border-radius 50%
                background-color #fff
            
            span
                z-index 2
                font-size $font-size-title2
                font-weight $bold
    
    @media $breakpoints.lg
        &-listing
            &-item
                _pa(1 1)
        