// Component : LIBRARY

.library
    &-ctnr
        _mt(1)
        
        &:first-child
            _mt(0)
        
    &-title
        display flex
        width 100%
        align-items center 
    