// Component : LISTINGBLOCK

.listingBlock
    _pa(1 1.5)
    _mt(1.5)
    _thin-shadow(1, black, .3)
    width 100%
    max-width 27rem
    overflow hidden
    align-content center
    background $color-txt-light
    border-radius .3rem
    
    &:first-child
        _ma(0)
    
    &-ctnr
        @extends .sameHeightChild
        justify-content center
        flex-direction column
        align-items center
    
        &.onHome
            _mt(-10)
            
            .listingBlock
                max-width inherit
    
    &-list
        display flex
        justify-content space-around
        
        &.hListing
            flex-direction row
            
        &.vListing
            flex-direction column
    
    &-title
        _pb(1)
        _mb(1)
        font-size $font-size-title4
        border-bottom 1px solid $color-border1
    
    &-img
    	_ma(0 .5)
    	align-self center
    	max-width 160px
    
    @media $breakpoints.lg
        _ma(0 0 0 1.5)

        &-ctnr
            flex-direction row
            align-items initial
