// Component : NAVMENU

.navmenu
    position fixed
    top 0
    left 0
    z-index 100
    width 100%
    text-align center
    transition background .8s ease, height .6s ease
    background $color-txt-dark
    
    .nav-wrapper
        _pa(1 1.5)
        display flex
        flex-wrap wrap
        align-items center
        justify-content space-between
        height 100%
        width 100%
        
        &-right
            _ma(0)
            _pa(0)
            display flex
            order 3
            width 100%     
    
    &.eachSideItem
        @extends .eachSideItem
        
    &-logo
        _ma(0 auto .5)
        order 1
        max-width 100px
        min-width 60px
        height 100%
        width auto

    .navmenu-item
        _pa(0)
        position relative
        z-index 0
        line-height 1.1
        border-left 1px solid rgba($color-txt-light, .5)
        
        &:first-child
            border none
            
        &-menu
            background $color-bg-mid-light

            li
                a
                    _pa(.3 0)
                    display block
                    white-space nowrap
                    font-size $font-size-small
                    font-weight $semibold
                    transition transform .2s ease
                    
                    &:hover
                        cursor pointer
                        transform scale(1.02)

        > a
            _ma(0 2)
            text-align center
            transition transform .2s ease-out
            font-weight $semibold
            
            &:not(.btn-primary)
               color $color-txt-light 

            &:hover
                cursor pointer
                transform scale(1.05)
            
        &.activLink
            a
                color $color-txt-second
    
        &-btn
        
        &-menu
            _mt(1)
            right inherit
                    
    &-btns
        display none
        align-items center
        width 100%
        order 4
        
        > *
            _ml(1)
            
            &:first-child
                _ma(0)
        
        .btn
            white-space nowrap
            
            > *
                color white
    
    &-langBar
        width 14rem

    // Mobile menu btn
    &-mobilebtn
        _ml(1.5)
        _pa(0)
        order 1
        position relative
        z-index 150
        font-size $font-icn-size5
        border none
        cursor pointer
        background transparent
        
        &:hover
            transform scale(1.1)
        &:focus
            outline none
        
        i
            color $color-txt-dark
            font-size $font-icn-size5
            vertical-align middle

        .fa-times
            display none
    
    // Mobile menu during scroll
    &.scrollDown
        _pa(0 1.5)
        height $header-height
        justify-content space-between
        background rgba($color-bg-mid-light, .9)

        .navmenu
            &-sizer
                flex-wrap nowrap
            
            &-mobilebtn
                _ma(0 auto 0 0)
            
            &-logo
                display none

    // Mobile menu
    &.openNavMenu
        .navmenu
            &-list
                _pt(4)
                opacity 1
                width 100%
                height 100%
                position fixed
                left 0
                top 0
                z-index 101
                background $color-bg-dark
                transition opacity .2s ease-out
            
                .navmenu-item
                    _pa(0 2)
                    _ma(0)
                    
                    &:first-child
                        a
                        .btn
                            border none 
                    
                    &:hover
                        background rgba(black, .1)
                    
                    a
                    .btn
                        _pa(1.5 0)
                        display block
                        width 100%
                        text-align left
                        font-size $font-size-primary
                        color $color-txt-light
                        border-top 1px solid rgba($color-txt-light, .5)
                        background transparent
                        border-radius 0
                        
                        &:hover
                            transform inherit
            
                    &.activLink
                        &+ li a
                        &+ li button
                            border none

                    &.activLink
                    &.activLink a
                        cursor default
                        border none 
                        background $color-bg-third
                
            &-mobilebtn
                background transparent
            
                i
                    color $color-txt-light

                .fa-bars
                    display none

                .fa-times
                    display block
                    
    @media $breakpoints.md
        height $header-height
        
        &-btns
            display inline-flex
        
        &-sizer
            flex-wrap nowrap
        
        &-logo
            _ma(-0.5 0 0)
            max-width 120px
        
        .nav-wrapper
            flex-wrap nowrap
            
            &-right
                ml(auto)
                width auto
        
        &-list
            opacity 1
            width auto
            overflow visible
            display flex
            align-items center
            max-width $max-page-size - 224px
        
        // Mobile nav menu btn
        &-mobilebtn
            display none
            
    @media $breakpoints.lg
        &-list
            .navmenu-item
                font-size $font-size-primary

                > a
                    _ma(0 2)
