// Component : ONBOARDING

.onboarding
    &-btn
        position fixed
        top 50%
        right -5px
    
        .btn
            _pa(.7 1)
            _thin-shadow(1, black, .3)
            border none
            font-size $font-icn-size3
            background rgba($color-txt-dark, .7)

    &-popin
        display flex
        position relative
        
        &:before
            content ''
            width 0
            height 0
            position absolute
            border-left 20px solid transparent
            border-right 20px solid white
            border-top 20px solid white
            border-bottom 20px solid transparent
            right 20px
            bottom -40px

        &.popin
            _pa(0)
            overflow visible
            
            &.visible
                _pa(1)
        
        &-menu
            _pa(1.5 2)
            width 11rem
            overflow hidden
            font-size $font-size-mobile-primary
            background $color-bg-mid-light
            border-right 1px solid $color-txt-mid-light
            border-radius 0.3rem 0 0 0.3rem
            
            li
                list-style disc
                
            a
                _pa(.1 0)
                display block
                color $color-txt-mid-dark
                
                &:hover:not(.activ)
                    font-weight $semibold
                    transform scale(1.05)

                &.activ
                    font-weight $semibold
                    color $color-txt-second
                    cursor default
        
        &-content
            _pa(.5 0 1 1.5)
            width 100%
            
            .popin-description
                font-size $font-size-title5
        
        &-pagination
            font-size $font-size-title4
            color $color-txt-mid-dark
                
// Temp
#temp_prospection-btn
#temp_performances-block
    position relative
    z-index 1000
    background white
