// Component : POPIN
     
.overflow
	_pa(1)
	display none
	position fixed
	left 0
	top 0
	z-index 200
	width 100%
	height 100%
	overflow auto
	background rgba(black, .6)
	
	&.visible
		display block

	@media $breakpoints.md
		_pa(2 0)
		
.popin
	_ma(0 auto)
	_thin-shadow(1, black, .2)
	color $color-txt-dark
	background $color-bg-light
	border-radius .3rem
	overflow hidden

	opacity 0
	width 0
	height 0
	transition opacity .8s ease
	
	&.visible
		_pa(1.5)
		opacity 1
		width 100%
		height auto
		transition opacity .8s ease
	
	&-top
		_mb(1.5)
		position relative
		z-index 0
		
		&.secondColor
			background $color-bg-second
			
			.popin-close-btn			
				i
					color $color-txt-light
		
		&.thirdColor
			background $color-bg-mid-light
		
		&.withStepbar
			&:after
				content ''
				position absolute
				z-index 1
				left 0
				bottom 0
				width 100%
				height .4rem
				background $color-bg-second
			
			for i in (10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95)
		        &_{i}
		        	&:after
		        		width i * 1%
			
	&-close-btn
		border none
		background none
		cursor pointer
		
		i
			font-size $font-icn-size4
			color $color-txt-dark

	&-content
		_pa(1 1.5)
		background $color-bg-mid-light
		border-radius .5rem
		
		.limitedHeight &
			max-height 350px
			overflow hidden
			overflow-y auto
		
		.withStep &
			_pa(1.5)
		
		.withBg1
		.withBg2
			_pa(1)

		.withBg1
			background rgba($color-bg-gray-dark, .1)
		
		.withBg2
			font-weight bold
			color $color-txt-mid-dark
			background $color-bg-mid-light
			
		&-title
			_mb(.5)
			font-size $font-size-title5
			color $color-txt-black
			
		.code-ctnr
			_pa(.3 1)
			font-weight bold
			border 1px solid $color-border1
			border-radius .3rem
		
		.code-form
			max-width 300px
			
		.info-line
			color rgba($color-txt-mid-dark, 4)
	
	&-bottom
		_pa(1 1.5 2)
	
	&-precision
		font-size $font-size-small
		line-height .5rem
	
	@media $breakpoints.md
		max-width 700px
		
		&-small
        	max-width 500px
        	
        	.popin-content
        		_pa(1 1.5 1.5)

.popin-btn-hidden
    display none