// Component : SEARCHBAR

.searchbar
    display flex
    width 100%
    background $color-bg-light
    transition width .5s ease
    background transparent
    
    form
        display flex
        width 100%
        align-items center
        background $color-bg-light
        border 1px solid $color-border1
        border-radius .3rem
        
        *
            border none
            background none
    
    input, button
        _pa(.4 1)
        font-weight $regular

    input
        font-size $font-size-btn

        &:focus-visible
            outline-color $color-txt-third
        
    input::placeholder
        color $color-txt-mid-light

    &-field
    &-field input
        width 100%
    
    &-btn
        &:hover
            cursor pointer

        i
            font-size $font-icn-size1
            color $color-txt-mid-dark
        
    @media $breakpoints.md
        display flex
        
        form
            border-radius .5rem

        &-field input
            border none
        
        &-btn
            i
                font-size $font-icn-size1
