// Component : SUBMENU
       
.submenu
    text-align center

    &-list
        width 100%
        display inline-flex
        justify-content start
        border-bottom 1px solid $color-border1
        overflow hidden
        
        li
            width 100%
            align-items flex-end

            button
            a
                display flex
                align-items center
                justify-content center

            &.activLink
                border-bottom 3px solid $color-txt-second
                        
                button
                a
                h1
                    color $color-txt-second
                
                button
                a
                    &:hover
                        cursor default

        &.itemsx4 
        &.itemsx3
            width 100%
  
        &.itemsx4
            li
                width 25%
             
        &.itemsx3
            li
                width 33%

        &.fullWidth
            width 100%
            overflow-x auto
    
            li
                width auto

        button
        a
            _pa(0 1)
            width 100%
            font-weight $semibold
            font-size $font-size-mobile-primary
            color $color-txt-dark
            border none
            border-radius 0
            background white
            cursor pointer
            
            &:hover
                color $color-txt-second
             
    @media $breakpoints.md
        &-list
        .itemsx4
        .itemsx3
            flex-wrap nowrap
            width auto
            
            li
                width auto

            button
            a
                _pa(0 1.5)
        
        .itemsx4
            button
            a
                _pa(0 2)

        .itemsx3
            button
            a
                _pa(0 3.5)
        
        .fullWidth
            overflow-x initial

            button
            a
                _pa(.3 1)
