// Mixin : SPACES

map(list, fn)
    result = ()
    for item in list
        push(result, fn(item))
    return result
    
_gutters(i)
    if typeof(i) == 'unit' && unit(i) == ''
        return i * 1rem
    return i

_pa(values)
    if length(values) > 4
        warn('_p can only receive a list of 4 numbers max')
    padding map(values, _gutters)
_pt(i)
    padding-top _gutters(i)
_pr(i)
    padding-right _gutters(i)
_pb(i)
    padding-bottom _gutters(i)
_pl(i)
    padding-left _gutters(i)

_ma(values)
    if length(values) > 4
        warn('_m can only receive a list of 4 numbers max')
    margin map(values, _gutters)
_mt(i)
    margin-top _gutters(i)
_mr(i)
    margin-right _gutters(i)
_mb(i)
    margin-bottom _gutters(i)
_ml(i)
    margin-left _gutters(i)
