// Generic styles : FLOW

.float
	&-container
		display inline-block
		vertical-align top
		width auto

	&-l
		float left

	&-r
		float right
		
.dFlex
	display inline-flex
	flex-wrap wrap
	width 100%
	
	@media $breakpoints.md
		display flex
		flex-flow row
		width auto

.sameHeightChild
	display flex
	
	> *
		align-self stretch
		
	@media $breakpoints.sm
		> *
			align-self initial
					
.eachSideItem
	display flex
	width 100%
	flex-wrap nowrap
	justify-content space-between
	align-items center
	
	&.alignToTop
		align-items start
	
	.btn
		white-space nowrap
		font-size $font-size-mobile-primary	
	
	&.mobileAlignLeft
		justify-content left
		
	&.mobileFullWidth
		display block
		
		> *
			_mt(1)
			flex-wrap nowrap

			&:first-child
				_ma(0)
	
	@media $breakpoints.md
		&.mobileAlignLeft
			justify-content space-between
			
		&.mobileFullWidth
			display flex

.vAlign
	align-items center
	vertical-align middle

.hAlign
	justify-items center
	text-align center
	
.vAlignToStart
	align-items start
	vertical-align top

.alignToLeft
	display flex
	justify-content start
	text-align left

.alignToRight
	display flex
	justify-content end
	text-align right
	
.centeredBlock
	ma(0 auto)
	width 100%
	max-width 80%
