// Generic styles : NOTICE

.notice
	_pa(0)
	_ma(0)
	font-weight bold
	font-size $font-size-mobile-primary
	border none
	border-radius .5rem

	opacity 0
	width 0
	height 0
	transition opacity 2s ease

	&.visible
		opacity 1
		padding 1rem
		width 100%
		height auto
		transition opacity 2s ease

	&-error
		border 1px solid $color-txt-error
		color $color-txt-error
		background rgba($color-txt-error, .1)
		
	&-success
		border 1px solid $color-txt-success
		color $color-txt-success
		background rgba($color-txt-success, .1)
		
	&-warning
		border 1px solid $color-txt-warning
		color $color-txt-warning
		background rgba($color-txt-warning, .1)
