// Generic styles : SKIN

.framed
	_pa(1)
	_thin-shadow(1, black, .2)
	border-radius .5rem	
	
	&-desktop
		&:not(:first-child)
			_pt(1.5)
			border-top 1px solid $color-border1
			
			@media $breakpoints.md
				border none

		@media $breakpoints.md
			_pa(1.5)
			_thin-shadow(1, black, .2)
			border-radius .5rem

.thinCtnr
	_ma(0 auto)
	max-width 30rem

.coloredCtnr
	_pa(1.5)
	background $color-bg-mid-light
	
	&.rounded
		border-radius .5rem
                		
.hideElem
	visibility hidden
	opacity 0
	width 0
	height 0

.inactivItem
	cursor default
	transform inherit
	color gray
	opacity 0.6
	pointer-events none

	&:hover
		cursor default

	.btn
		color gray
		
		&:hover
			cursor default
			transform inherit
	
	div input
		pointer-events none

		&:focus-visible
			outline transparent

// Borders 
.bdr
	border 1px solid $color-border1
    
	&-t
		border-top 1px solid $color-border1
	    
	&-r
		border-right 1px solid $color-border1
	    
	&-b
		border-bottom 1px solid $color-border1
	    
	&-l
		border-left 1px solid $color-border1
