// Generic styles : SPACES

for i in (0 1 2 3 4 5 6 auto) 
    for d in (a t r b l)
        .p{d}{i}
            _p{d}(i)
        if typeof(i) == 'unit'
            .p{d}{i}_
                _p{d}(i + .5)
        
        .m{d}{i}
            _m{d}(i)
        if typeof(i) == 'unit'
            .m{d}{i}_
                _m{d}(i + .5)

for i in (1..5)
    .lh{i}
        line-height i
