// Layout : FOOTER

.footer
    width 100%
    color $color-txt-light
    background $color-txt-dark
    
    &-wrapper
        display flex
        justify-content space-evenly
        font-size $font-size-footer
        color $color-txt-footer
        background $color-bg-footer
        
        &.page-wrapper
            _pa(1.5 0 2 0)

        &-list
            max-width: 33%;
                
            p
                _mb(.5)
                text-transform uppercase

            ul
                _ma(0 auto)
                flex-wrap wrap
                max-width $max-page-size
                
                li a
                    color $color-txt-footer

        &-socialMedia
            ul
                li
                    _ml(1)
                    
                    &:first-child
                      _ml(0)  
                    
                    display block
                    border-radius 50%
                    width 2.2rem
                    height 2.2rem
                    line-height 2.6rem
                    text-align center
                    vertical-align middle
                    background $color-txt-footer
                    
                    i
                        font-size $font-footer-icn
                        color $color-txt-dark
    
    &-bottom
        _pt(.5)
        _pb(.5)
        text-align center
        font-size $font-size-tiny
        color $color-txt-light
        background $color-txt-black
        
        &-logo
            max-width 80px
            
            .cls-1
            .cls-2
                fill $color-txt-light
        
        span
            display block
        
        @media $breakpoints.md
            _pt(1)
            _pb(1)
            
            span
                _ml(1)
                display inline-block
