// Layout : HEADER

.header
	_pt(4)

	&-bottom
		_pt(1.5)
		_pb(1.5)
		color $color-txt-light
		background $color-bg-dark
	
		.title3
			color $color-txt-light
			
		&-search
			width 100%
			align-items center
			
			.form
				_pa(0)
				_mt(1)
				display flex
				flex-wrap nowrap
				width 100%
			
				&-field
				&-btn button
					min-height 2.5rem
					
					> input
						_pa(0 .5)

				&-field
					_pa(.2 .7)
					display flex
					flex-wrap nowrap
					width 100%
					border 1px solid $color-border1
					border-radius .5rem 0 0 .5rem
					background $color-txt-light
					
					i
						font-size $font-icn-size3
						color $color-txt-mid-light

					input
						height 100%
						border none
						background transparent
				
				&-btn button
					_pa(.2 2)
					border-radius 0 0.5rem .5rem 0
		
	.searchbar
		height auto
		order 3
		align-items center
		
		form
			border none
			
			&-field input
				border-radius 0
				border 1px solid $color-border1

		&-btn
			button i
				color $color-bg-gray-dark
				font-size $font-icn-size2
				
	.contact-btn
		color $color-txt-light
		background $color-txt-third
				
	.scrollDown
		.searchbar
			order 2
			width 80%
			
			&-field input
				background $color-bg-light

	@media $breakpoints.md
		.searchbar
			_mr(2.5)
			order 3
			width 100%
			height auto
			background transparent
