// Layout : LOGIN
     
.login
	&-subtitle
		font-size $font-size-title5
		color $color-txt-black

	&-navmenu
		_pa(0 1.5)
		display flex
		align-items center
		justify-content center
		flex-wrap nowrap
		width 100%
		height $header-height
		background $color-bg-mid-light
		
		.navmenu-sizer
			justify-content space-between
		
	&-logo
		&.navmenu-logo
			_ma(-.5 0 0)
			order inherit

	&-langbar
		form
			select
				_pa(0.3 1 0.3 .5)
				min-width 150px
				font-size $font-size-mobile-primary
				color $color-txt-mid-dark
		
	&-form
		&-field
			_ma(0 auto 1)
			text-align left
			width 100%
			
			label
				font-weight $semibold
				font-size $font-size-mobile-primary

			input
			select
				_pa(.5)
				width 100%
				border 1px solid $color-txt-mid-light
				border-radius .3rem
				
				&:focus
					outline-color $color-txt-third
					
	&-ctnr
		_pa(2)
		_ma(auto)
		max-width 450px
		background $color-bg-mid-light
		border-radius .5rem
		position relative
    	z-index 0
		
	&-keyboard
		display flex
		max-width 180px
		flex-wrap wrap
		flex-direction row
		justify-content space-between

		button
			_ma(0 .1 .2)
			width calc((100% / 4) - .2rem)
			height 2.2rem
			font-size $font-icn-size2
			border-radius 0.3rem
