// Layout : PAGE

html
body
    height 100%

body
    position relative
    z-index 0
    display flex
    flex-direction column
    font-family $montserrat
    font-weight $regular
    font-size $font-size-primary
    line-height 1.25rem
    color $color-txt-dark
    background $color-bg-light
    
    *
        box-sizing border-box

    &.noScroll
        overflow hidden
        
.page
    &-wrapper
        _pa(1 1.5)
        _ma(0 auto)
        max-width $max-page-size
        flex-grow 1

    &-breadcrumb
        font-size $font-size-small
        color $color-txt-dark
        
        a
            display inline-flex
            
            &:hover
                text-decoration underline
        
        ul
            display flex
            width 100%
            overflow hidden

            > li
                _mr(.5)
                display flex
                max-width 32%
                
                a
                  display block
                
                a
                strong
                    width 100%
                    overflow hidden
                    white-space nowrap
                    text-overflow ellipsis
                
                strong
                    color $color-txt-third
    
                &:after
                    _ml(.5)
                    content '>'
                    opacity .7
                
                &:last-child
                    _mr(0)
                    
                    &:after
                        content none
                        
    @media $breakpoints.md
        &-wrapper
            _pa(2 3)
