// Element : BUTTON

.btn
    _pa(.5 1)
    font-size $font-size-btn
    font-family $montserrat
    font-weight $semibold
    display flex
    align-items center
    align-self center
    justify-content: center;
    line-height initial
    border none
    border-radius .4rem
    transition transform .2s ease-out
    color $color-txt-dark
    
    a&
        display inline-flex
    
    &:hover
        cursor pointer
        transform scale(1.05)
    
    i
        color $color-txt-mid-light
    
    &-light
        _pa(0)
        align-items center
        border none
        background none
        
        i
            color $color-txt-light
        
        &:hover
            cursor pointer

    &-primary
        border 2px solid $color-bg-dark
        background $color-bg-dark
        
        &
        i
        a
           color $color-txt-light 
        
        &.activBtn
            border-color $color-bg-second
            background $color-bg-second
            
            &
            i
            a
                color $color-txt-light  
        
        &.secondColor
            border-color $color-bg-second
            background $color-bg-second
            
            &
            i
            a
               color $color-txt-light 
            
        &.thirdColor
            border-color $color-bg-mid-light
            background $color-bg-mid-light
            
            &
            i
            a
                color $color-txt-light

    &-secondary
        line-height normal
        border 2px solid $color-txt-mid-dark
        background transparent
        
        &
        i
        a
            color $color-txt-mid-dark
        
        &.secondColor
            border-color $color-txt-second
            
            &
            i
            a
                color $color-txt-second
        
        &.thirdColor
            border-color $color-txt-third
            
            &
            i
            a
                color $color-txt-third           
    
    &-icon
        _pa(0)
        display inline-block
        background transparent
        
        &.secondColor
            i
                color $color-txt-second        
    
    &-switch
        position relative
        display inline-block
        width 43px
        height 22.5px
        border none

        .slider
            position absolute
            cursor pointer
            top 0
            left 0
            right 0
            bottom 0
            width 43px
            height 23px
            background-color rgba($color-bg-gray-dark, .5)
            transition .4s
            border-radius 3px
              
            &:before
                position absolute
                content ""
                height 17px
                width 19px
                left 3px
                bottom 3px
                background-color $color-bg-mid-light
                border-radius 1px
                transition .4s
    
        &.activ
            .slider
                background-color $color-bg-third
                
                &:before
                    left 21px

    &-pagination
        &-ctnr
            display none
            
            &.visible
                display block
