// Element : FORM

.form
    &-content
        _pa(1 1.5)
        display flex
        flex-direction column
        overflow hidden
        border-radius .3rem
        background $color-bg-mid-light
        
        &-part
            _pa(1 0)
            border-top 1px solid $color-border1
            
            &:first-child
                border none
        
        .same-column
            display flex
            flex-direction row
            
            &-block
                _ml(2)
                width 100%
                
                &:first-child
                    _ma(0)
                
                &.midSize
                    width calc(50% - 1rem)

    &-subtitle
        _mb(1)
        font-weight $semibold
        font-size $font-size-title5
        color $color-txt-mid-light
        
    &-field
        label
            font-weight $semibold
            font-size $font-size-mobile-primary
            color $color-txt-dark

        input
        textarea
        select
            _pa(.3 .4)
            width 100%
            font-size $font-size-mobile-primary
            border 1px solid $color-border1
            border-radius .3rem
            
            &::placeholder
                color $color-border1
            
            &:focus-visible
                outline-color $color-txt-third
                
            .uneditableField &
                color $color-txt-mid-dark
                pointer-events none
                background transparent

        select
            font-weight normal
            max-width 18rem
            color $color-txt-dark
            
            &.noWidth
                max-width inherit
        
        input[type=checkbox]
            _ma(0 1.3 0 0)
            width 20px
            height @width
            position relative
            z-index 0
            
            &:before
                content ''
                position absolute
                top 0
                left 0
                z-index 1
                width 20px
                height @width
                background white
                outline 2px solid $color-border1
                border-radius .2rem
            
            &:checked
                &:before
                    background $color-bg-dark
                    outline 2px solid $color-bg-dark

                &:after
                    font-family 'Font Awesome 5 Free'
                    content "\f00c"
                    font-weight 600
                    font-size 12px
                    position absolute
                    top 0
                    left 0
                    z-index 2
                    width 20px
                    height @width
                    line-height @width
                    text-align center
                    color white
                    outline 2px solid $color-bg-dark
                    border-radius .3rem
            
            &:hover
                cursor pointer
        
        input[type=radio]
            _ma(0 .5 0 0)
            width auto

        textarea
            height 6rem
        
        &.oneLineField
            @extends .eachSideItem
            align-items start
            
            label
                width 90%

        & .uploadField
            _pa(1 0)
            text-align center
            background $color-bg-mid-light
            border-radius .5rem
            
            button
                width auto
                border none
                cursor pointer
                background transparent
                
                i
                    font-size $font-icn-size3
                    color $color-txt-mid-dark
                    
    &-radio-ctnr
        .control-label
            _mr(1)
            font-size $font-size-mobile-primary
            color $color-txt-black
            
    &-tab
        &-list
            flex-wrap nowrap
            justify-content start
            border-bottom 1px solid $color-txt-third
        
        &-button
            _ml(1)
            _pa(.5 1)
            position relative
            top 0
            z-index 0
            max-width 36%
            text-align left
            font-weight bold
            font-size $font-size-mobile-primary
            border-radius 0.3rem 0.3rem 0 0
            border none
            text-align center
            color $color-txt-dark
            
            &:hover
                cursor pointer
                transform scale(1)
            
            &:first-child
                _ml(0)
            
            &.activItem
                color $color-txt-third
                border 2px solid $color-txt-third
                border-bottom 1px solid white
                top 1px
                z-index 1
                background white
                
                &:hover
                    cursor default
        
        &-content
            display none
            
            &.activItem
                display block

    &-btn
        display flex
        justify-content center
       
   .title-small
        i
            font-size $font-icn-size2

.required
    font-size $font-icn-size2
    
    &
    &-rule
        color $color-txt-second
        
    &-rule
        font-size $font-size-small
        font-weight $semibold
