// Element : ICONS

.icon
    &-circle 
        display flex
        justify-content center
        align-items center
        color $color-txt-light
        background $color-bg-mid-light
        border-radius 50%

        &.thirdColor
            background $color-bg-third
            
        &.size6
            _pa(1.1)
        
        &.size4
            _pa(.7)
            
            
    &-list
        &.inlineList
            display flex
            flex-direction row
            
            > li
                _ml(2)
                
                &:first-child
                    _ml(0)

for i in (1..6)
    i
        &.size{i}
            font-size $font-icn-size+i
 
// Animated spinner           
/*@keyframes coface-spinner-anim {
    0% { background: $color-txt-second; }
    12.5% { background: $color-txt-second; }
    12.625% { background: $color-txt-mid-light; }
    100% { background: $color-txt-dark; }
}
.spinner
    width 175px
    height 175px
    opacity .7

    &-bg
        width 100%
        height 100%
        position relative
        transform translateZ(0) scale(1)
        backface-visibility hidden
        transform-origin 0 0
        
        div
            position absolute
            width 11px
            height @width
            background $color-txt-dark
            animation coface-spinner-anim 1.2s linear infinite
            border-radius 50% 
*/

// Animated spinner 
@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 
@keyframes animloader {
    50% { transform: scale(1) translate(-50%, -50%); }
} 
.spinner
    _ma(15 auto)
    width 48px
    height 48px
    display block
    position relative
    color #FFF
    box-sizing border-box
    animation rotation 1s linear infinite
    
    &::after
    &:before
        content ''
        box-sizing border-box
        position absolute
        width 24px
        height 24px
        top 50%
        left 50%
        transform scale(0.5) translate(0, 0)
        background-color #1C355E
        border-radius 50%
        animation animloader 1s infinite ease-in-out
            
    &::before
        background-color #E00277
        transform scale(0.5) translate(-48px, -48px)

    &-ctnr
        display none
        width 100%
        height 100%
        justify-content center
        align-items center
        position absolute
        left 0
        top 0
        z-index 10
        border-radius .5rem
        background rgba($color-bg-mid-light, .5)

        &.with-bg
            background rgba($color-bg-mid-light, 1)

        &.visible
            display flex
