// Element : IMAGES

img
	display block
	font-size 7px
	color $color-txt-mid-light
	overflow hidden
	line-height 1
	background $color-bg-mid-light
		
.media-img
	max-width 135px
	width 100%

	img
		_ma(0 auto)
		width 100%
		max-width 100%
		height auto
		min-height 35px
		border-radius .4rem
		overflow hidden
		background $color-bg-mid-light
		

	&.small
		max-width 100%

	&.middle
	&.big
		float none

	&.middle
		_ma(0 auto 1)
		max-width 500px

	&.big
		_ma(0 auto 1)
		max-width 510px

	@media $breakpoints.md
		max-width 280px
		
		&.small
			max-width 200px
		
		&.middle
			_ma(0 2 1 0)
			max-width 280px
			
		&.big
			max-width 600px
			
.ez-embed-type-image
	_mt(1)

.captcha-img
	max-width 190px