// Element : LABEL

.label
    _pa(.4)
    font-weight $semibold
    font-size $font-size-small
    color $color-txt-light
    border-radius .5rem
    
    &-theme1
        background $color-label1
        
    &-theme2
        background $color-label2
