// Element : LINK

a
    text-decoration none
    color $color-txt-dark
    
    &.currentLink
    	font-size $font-size-small
    	text-decoration underline
    	color $color-txt-second
    
	    &.secondary
	    	color $color-txt-third

	    &.tertiary
	    	color $color-txt-mid-light
