// Element : LIST

ul
    margin 0

    &, & li
        list-style none
    
    &.underlinedList
        li
            text-decoration underline
            
.list
    display flex
    flex-wrap wrap
    width 100%
    
    &-title
        _pa(.8)

    &-content
        font-size $font-size-mobile-primary
        color $color-txt-dark
        
        a
            color $color-txt-dark

            &:hover
                color $color-txt-third
        
    > li
        _pa(.6 .8)
        _mb(.5)
        width 100%
        background $color-txt-light
        
        &:last-child
            _ma(0)

        button
            _pa(0)
            width 100%
            font-size $font-size-primary
            color $color-txt-dark
            background transparent
            border none
            
            &:hover
                cursor pointer
                color $color-txt-third
   
    &.inlineList
        flex-wrap nowrap
        justify-content space-between
        
    .inlineList-item
        _ml(.6)
        _pa(.6 .4)
        
        &:first-child
            _ma(0)

        img
            _ma(0 auto .5)
            display block
            width auto
            height 60px

        strong
            _mb(.3)
            display block
            font-size $font-size-mobile-primary
            color $color-txt-second

        span
            font-size $font-size-mobile-primary
            color $color-txt-mid-dark
            line-height .3
	
	&.colx2
        _ma(0)   
        align-items end 
   
        > li
            _ma(0)
            width 100%
            
            .list-title
                _pa(.5 0) 

    &.bordered
    	> li
            _pa(0)
            border 1px solid $color-border1
      
    &.rounded
        > li
            border-radius .5rem
            
    @media $breakpoints.md
        &.colx2
            _ml(-1.5) 

            > li
                _pa(.5 .8)
                _ma(0 0 .8 1.5)
                position relative
                z-index 0
                width calc((100% / 2) - 1.5rem)
