// Element : TABLE

.table-ctnr
    width 100%
    text-align center
    font-size $font-size-small-title
    
    .required
        color white
        font-size $font-size-title4

    tr
        &:nth-child(odd)
            background $color-bg-mid-light
        
        &:nth-child(even)
            background white

    th
    td
        _pa(.4)
        vertical-align middle
        border 1px solid rgba($color-txt-black, .2)
        
    th
        font-weight 500
        
        .required
            font-size $font-size-title4
        
    thead th
        font-size $font-size-mid
        color white
        background rgba($color-bg-dark, .7)
        
        &:first-child
            border none
            background white
    
    tbody th
        width 10%
        font-weight bold
        text-align left
        font-size $font-size-small

    td
        color $color-txt-black
        
        input
            min-width 3rem
            font-size $font-size-mid
            
    @media $breakpoints.md
        thead th
            white-space nowrap
        
        tbody th
            width 35%
        
        td
            input
                min-width 6rem
