// Element : TITLE

for i in (0..5)        
    .title{i}
        font-weight $semibold
        color $color-txt-dark
        
        &.normal
            font-weight $regular
        
        .secondColor &
            color $color-txt-light

.title   
    &1
        font-size $font-size-title1
        line-height 2rem
    
    &2
        font-size $font-size-title3
        
    &3
        font-size $font-size-title4
        
    &4
        font-size $font-size-title5
        
    &5
        font-size $font-size-small
        
    &-small
        _pa(.5 0)
        font-weight $semibold
        font-size $font-size-small-title
        text-transform uppercase
        color $color-txt-dark
        background transparent
        border none
        
        i
            color $color-txt-dark
        
        &.secondColor
            i
            &
                color $color-txt-second
        
        &.thirdColor
            i
            &
                color $color-txt-third

    &-img
        max-width 50px
        height auto
        
    &-sublevel
        color $color-txt-mid-light
    
    &-tiny
        font-size $font-size-small
        
    @media $breakpoints.md
        &1
            font-size $font-size-title1
    
        &2
            font-size $font-size-title2
            
        &5
            font-size $font-size-small-title

strong
    font-weight $semibold